footer.footer
	.container
		.footer__row
			.footer__col
				a(href="#").footer__logo
					img(src="assets/img/logo-light.svg", alt="").footer__logo-img
				.footer__links
					a.footer__link(href="tel:+7 (499) 111-25-68")
						<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M4.18152 10.3143C6.80113 12.9352 10.1203 14.6056 12.0943 12.64L12.5732 12.1611C13.2116 11.5239 13.1228 10.4679 12.3812 9.95306C11.9143 9.62785 11.4127 9.27864 10.8583 8.88863C10.2847 8.48541 9.49874 8.54901 9.00074 9.04223L8.45954 9.57985C7.78873 9.15504 7.12513 8.60902 6.50833 7.99339L6.50593 7.99099C5.89033 7.37537 5.34433 6.71055 4.91952 6.03972L5.45713 5.4985C5.95153 5.00168 6.01273 4.21446 5.61073 3.64083C5.21953 3.08641 4.87032 2.5848 4.54632 2.11798C4.03152 1.37755 2.97552 1.28875 2.33831 1.92597L1.85951 2.40479C-0.104894 4.37886 1.56431 7.69578 4.18392 10.3179" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						| +7 (499) 111-25-68
					a.footer__link(href="mailto:clinic@vetunion.ru")
						<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M4.18152 10.3143C6.80113 12.9352 10.1203 14.6056 12.0943 12.64L12.5732 12.1611C13.2116 11.5239 13.1228 10.4679 12.3812 9.95306C11.9143 9.62785 11.4127 9.27864 10.8583 8.88863C10.2847 8.48541 9.49874 8.54901 9.00074 9.04223L8.45954 9.57985C7.78873 9.15504 7.12513 8.60902 6.50833 7.99339L6.50593 7.99099C5.89033 7.37537 5.34433 6.71055 4.91952 6.03972L5.45713 5.4985C5.95153 5.00168 6.01273 4.21446 5.61073 3.64083C5.21953 3.08641 4.87032 2.5848 4.54632 2.11798C4.03152 1.37755 2.97552 1.28875 2.33831 1.92597L1.85951 2.40479C-0.104894 4.37886 1.56431 7.69578 4.18392 10.3179" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						| clinic@vetunion.ru
					.footer__social-links
						a.footer__social-link
							<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.006 13.3145H13.3388C12.7216 13.3145 12.4122 12.9693 11.8978 12.3978C11.6951 12.1731 11.4467 11.8965 11.1168 11.5657C10.207 10.6887 9.82139 10.6003 9.67966 10.6003C9.67432 10.6376 9.66975 10.6971 9.66975 10.79V12.2851C9.66975 13.1393 9.04186 13.3145 8.09775 13.3145C6.1196 13.3145 4.10183 12.1129 2.69976 10.1004C0.680464 7.2696 0 4.96837 0 4.35344C0 3.81166 0.347471 3.50076 0.952497 3.50076H2.61975C3.35127 3.50076 3.57453 3.96787 3.72617 4.40525C4.47674 6.59295 5.58316 8.22286 6.0434 8.54823C6.04721 8.4987 6.05026 8.43317 6.05026 8.34478V5.88962C6.01902 5.33413 5.83462 5.10553 5.67155 4.90436C5.5382 4.73977 5.38732 4.55308 5.38732 4.26505C5.38732 3.89776 5.69517 3.50076 6.19275 3.50076H8.8125C9.20417 3.50076 9.66975 3.67297 9.66975 4.49441V7.79767C9.66975 7.81291 9.67051 7.82662 9.67127 7.83958C9.75738 7.78014 9.88006 7.66813 10.0561 7.49287C11.1831 6.23176 12.0137 4.22847 12.022 4.2079C12.2209 3.74308 12.5928 3.5 13.1003 3.5H14.7675C15.1279 3.5 15.3908 3.6082 15.5486 3.82004C15.6537 3.96101 15.7543 4.21171 15.637 4.60337C15.4221 5.59321 13.5514 8.24801 13.338 8.54747C13.322 8.57414 13.2572 8.6793 13.2489 8.71511C13.2511 8.71511 13.2649 8.75245 13.3281 8.83475C13.4051 8.94066 13.5948 9.12659 13.7784 9.30718C14.0055 9.52969 14.2623 9.78191 14.4665 10.0235C15.3657 11.0346 15.7947 11.6404 15.9448 12.1068C16.0698 12.5381 15.9593 12.8093 15.8435 12.9625C15.7253 13.124 15.483 13.3145 15.006 13.3145ZM9.72538 9.83753C10.0698 9.83753 10.5681 9.9785 11.6502 11.0217C11.9977 11.3692 12.2552 11.6549 12.4648 11.8881C12.9631 12.4436 13.0843 12.5525 13.338 12.5525H15.0053C15.163 12.5525 15.227 12.5167 15.2354 12.5068C15.2438 12.4969 15.2544 12.4603 15.2171 12.3316C15.0769 11.8957 14.4353 11.136 13.892 10.5241C13.6961 10.2924 13.4576 10.0593 13.2458 9.85277C13.0103 9.62265 12.8252 9.44053 12.7193 9.29271C12.3398 8.80427 12.4884 8.47585 12.7055 8.12685C13.2702 7.3298 14.7393 5.1482 14.9001 4.4144C14.9222 4.33667 14.9275 4.294 14.9275 4.27343C14.9138 4.27495 14.8628 4.26352 14.7675 4.26352H13.1003C12.8724 4.26352 12.7901 4.35191 12.7254 4.50355C12.6918 4.58508 11.8399 6.64172 10.6101 8.01712C10.2184 8.40955 9.94178 8.65644 9.54859 8.65644C9.23998 8.65644 8.90775 8.38745 8.90775 7.79843V4.49517C8.90775 4.34887 8.89023 4.28714 8.88184 4.26581C8.87346 4.26886 8.85289 4.26428 8.8125 4.26352H6.19275C6.15542 4.29248 6.22095 4.37325 6.26438 4.42659C6.46479 4.67424 6.76654 5.04838 6.81226 5.86981L6.81302 8.34631C6.81302 8.65034 6.81302 9.36357 6.12265 9.36357C5.14501 9.36357 3.68502 6.62876 3.00684 4.65519C2.87121 4.26428 2.80796 4.26428 2.62051 4.26428H0.953259C0.803907 4.26428 0.760473 4.29324 0.759711 4.29324C0.762759 4.62166 1.2352 6.73468 3.32307 9.66228C4.58494 11.4735 6.36878 12.5533 8.09851 12.5533C8.90851 12.5533 8.90851 12.4413 8.90851 12.2858V10.7908C8.90851 10.3191 9.00529 9.83753 9.72538 9.83753Z" fill="white" stroke="white" stroke-width="0.5"/>
							</svg>
						a.footer__social-link
							<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M12.2724 14.1725L9.41683 11.8731C9.22403 11.7178 8.94667 11.727 8.76457 11.8947L6.72976 13.7682C6.72976 13.7682 6.72977 13.7682 6.72976 13.7682C6.5503 13.9334 6.42149 13.9338 6.36559 13.9198C6.30972 13.9058 6.19625 13.8449 6.11572 13.6146L4.51637 9.04098C4.46277 8.8877 4.33806 8.76999 4.18194 8.72532L1.24689 7.88548L14.6983 2.75067C14.6983 2.75066 14.6982 2.75067 14.6983 2.75067C14.8183 2.70486 14.9013 2.69726 14.9489 2.70061C14.972 2.70223 14.9857 2.70629 14.9923 2.70885C14.9986 2.71127 15.0006 2.71306 15.0008 2.71319C15.0009 2.71332 15.003 2.71497 15.0064 2.7208C15.0101 2.72695 15.0163 2.7398 15.0217 2.76231C15.0328 2.80873 15.0389 2.89177 15.0134 3.01772L12.7943 13.9749C12.7446 14.2204 12.6438 14.2785 12.6126 14.2901C12.5816 14.3016 12.4684 14.3233 12.2724 14.1725ZM13.7744 14.1734L15.9935 3.21621C16.0862 2.75857 16.0181 2.26452 15.6473 1.95028C15.2765 1.63606 14.778 1.64991 14.3417 1.81639L0.798402 6.98631C0.798398 6.98631 0.798406 6.9863 0.798402 6.98631C0.593362 7.06457 0.402131 7.1665 0.25437 7.30197C0.106604 7.43745 -0.0387721 7.64805 -0.0309477 7.92336C-0.0231239 8.19866 0.13396 8.40066 0.289148 8.52753C0.444343 8.65441 0.641021 8.74534 0.85016 8.81187L0.864188 8.81611L3.65789 9.6155L5.17176 13.9446C5.17176 13.9446 5.17175 13.9446 5.17176 13.9446C5.33392 14.4084 5.66236 14.7747 6.12293 14.8899C6.58349 15.0051 7.04568 14.8366 7.40709 14.5039L9.12508 12.9221L11.6562 14.9602C12.0393 15.2573 12.5129 15.3939 12.9608 15.2275C13.4087 15.0611 13.6782 14.6485 13.7744 14.1734Z" fill="white"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M5.96337 14.8056C6.23146 14.8718 6.50245 14.7081 6.56865 14.44L7.46202 10.8217L12.5995 5.36287C12.7661 5.18578 12.7812 4.91446 12.6352 4.71999C12.4892 4.52552 12.2244 4.4643 12.0079 4.57494L3.85759 8.73878C3.61168 8.86441 3.51418 9.1656 3.63981 9.41151C3.76544 9.65742 4.06663 9.75493 4.31254 9.6293L9.89518 6.77722L6.64392 10.2319C6.585 10.2945 6.54322 10.3713 6.52261 10.4547L5.5978 14.2003C5.53161 14.4684 5.69528 14.7394 5.96337 14.8056Z" fill="white"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M12.3276 14.8585C12.5008 14.6434 12.4669 14.3287 12.2518 14.1555L7.34681 10.2059C7.13172 10.0327 6.81697 10.0666 6.64378 10.2817C6.47059 10.4968 6.50455 10.8116 6.71963 10.9848L11.6246 14.9343C11.8397 15.1075 12.1544 15.0736 12.3276 14.8585Z" fill="white"/>
							</svg>
						a.footer__social-link
							<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M12.8511 13.6348H3.14894C1.67481 13.6348 0.46875 12.4287 0.46875 10.9546V6.0453C0.46875 4.5712 1.67481 3.36511 3.14894 3.36511H12.8511C14.3252 3.36511 15.5312 4.5712 15.5312 6.0453V10.9546C15.5312 12.4287 14.3252 13.6348 12.8511 13.6348Z" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M6.44727 5.90595V11.0334L10.579 8.50376L6.44727 5.90595Z" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
					img.footer__nvp-logo.footer__nvp-logo--mobile(src="assets/img/footer-logo-01.png", alt="")
				.footer__other-links
					a(href="https://vetunion.ru/privacy-policy/").footer__other-link Политика конфиденциальности
					a(href="https://vetunion.ru/oferta-smeta/").footer__other-link Публичная оферта и образец сметы
					a(href="https://vetunion.ru/pravila/").footer__other-link Правила оказания платных ветеринарных услуг
					a(href="https://vetunion.ru/dogovor/").footer__other-link Договор на оказание платных ветеринарных услуг

			.footer__col
				.footer__inner-row
					.footer__nav
						a(href="#").footer__link Услуги
						a(href="#").footer__link Контакты
						a(href="#").footer__link Клиники-Партнеры
						a(href="#").footer__link Вакансии
						a(href="#").footer__link Результаты СОУТ
					.footer__nav
						a(href="#").footer__link Врачи
						a(href="#").footer__link Отзывы
						a(href="#").footer__link Новости
						a(href="#").footer__link Полезные материалы
						a(href="#").footer__link Карта сайта
					img.footer__nvp-logo(src="assets/img/footer-logo-01.png", alt="")
				.footer__footer
					p.footer__copyright Copyright © 2024 Vet Union. Проект группы компании INVITRO. Лицензия ВЕТ ЮНИОН, 3-4 гр. от 20.12.2007 г. (бессрочно) СЭЗ, ВЕТ ЮНИОН, 3-4 гр., от 26.04.2021 г. (до 25.04.2026г.)
					a(href="#").footer__up
						<svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M8.19239 0.322321C7.80186 -0.0682035 7.1687 -0.0682031 6.77818 0.322321L0.414214 6.68628C0.0236896 7.07681 0.0236896 7.70997 0.414214 8.1005C0.804738 8.49102 1.4379 8.49102 1.82843 8.1005L7.48528 2.44364L13.1421 8.1005C13.5327 8.49102 14.1658 8.49102 14.5563 8.1005C14.9469 7.70997 14.9469 7.07681 14.5563 6.68628L8.19239 0.322321ZM8.48528 18V1.02943L6.48528 1.02943V18L8.48528 18Z" fill="#253746"/>
						</svg>
