header.header
	.container.header__container
		.header__left
			.logo__container.logo__container--other
				img(src="assets/img/logo.svg", alt="").logo

			.controls.controls--switch-pc
				a(href="#").controls__link.controls__link--active Клиника
				a(href="#").controls__link Лаборатория
			.controls.search#searchOpener
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M9.46193 3.72133C11.0165 5.27588 11.0165 7.7963 9.46193 9.35084C7.90738 10.9054 5.38696 10.9054 3.83241 9.35084C2.27787 7.7963 2.27787 5.27588 3.83241 3.72133C5.38696 2.16678 7.90738 2.16678 9.46193 3.72133" stroke="#253746" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M9.43311 9.37329L13.3331 13.3266" stroke="#253746" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.58605 12.9999C1.47014 12.9999 1.35684 12.9656 1.26046 12.9012C1.16408 12.8368 1.08897 12.7453 1.04461 12.6382C1.00025 12.5312 0.988647 12.4133 1.01126 12.2996C1.03388 12.186 1.08971 12.0816 1.17167 11.9996L11.9998 1.17149C12.1097 1.06159 12.2588 0.999847 12.4142 0.999847C12.5696 0.999847 12.7186 1.06159 12.8285 1.17149C12.9384 1.28139 13.0002 1.43044 13.0002 1.58586C13.0002 1.74128 12.9384 1.89034 12.8285 2.00024L2.00042 12.8284C1.94606 12.8828 1.88146 12.926 1.81035 12.9555C1.73924 12.9849 1.66301 13 1.58605 12.9999Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
					<path d="M12.4141 12.9999C12.3372 13 12.2609 12.9849 12.1898 12.9555C12.1187 12.926 12.0541 12.8828 11.9998 12.8284L1.17164 2.00024C1.06174 1.89034 1 1.74128 1 1.58586C1 1.43044 1.06174 1.28139 1.17164 1.17149C1.28154 1.06159 1.43059 0.999847 1.58601 0.999847C1.74144 0.999847 1.89049 1.06159 2.00039 1.17149L12.8285 11.9996C12.9105 12.0816 12.9663 12.186 12.9889 12.2996C13.0115 12.4133 12.9999 12.5312 12.9556 12.6382C12.9112 12.7453 12.8361 12.8368 12.7397 12.9012C12.6434 12.9656 12.53 12.9999 12.4141 12.9999Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
				</svg>


		nav.controls.navigation.navigation--header
			.controls__link.controls__link--with-inner.controls__link--hover-effect-disabled
				a(href="#")
					| Услуги
					<svg class="arrow" width="7" height="4" viewBox="0 0 7 4" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M5.5 1L3.5 3L1.5 1" stroke="#253746" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				.controls__inner
					.controls.controls--inner
						a(href="#").controls__link Дерматология
						a(href="#").controls__link Хирургия
						a(href="#").controls__link Неврология
						a(href="#").controls__link Офтальмология
						a(href="#").controls__link Терапия
						a(href="#").controls__link Лаборатория
						a(href="#").controls__link Все услуги(18)
			a(href="#").controls__link.controls__link--hover-effect-disabled Акции
			a(href="#").controls__link.controls__link--hover-effect-disabled О нас
			a(href="#").controls__link.controls__link--hover-effect-disabled Врачи
			a(href="#").controls__link.controls__link--hover-effect-disabled Адреса клиник

		.header__right
			.geo
				<svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M5 11.5C5.17113 11.5 5.33038 11.4125 5.42211 11.268C5.62957 10.9412 5.88001 10.5726 6.14675 10.1799C6.58751 9.53099 7.07277 8.8166 7.48222 8.11758C8.14919 6.97891 8.72266 5.71681 8.72266 4.49902C8.72266 2.38033 7.07582 0.615234 5 0.615234C2.92418 0.615234 1.27734 2.38033 1.27734 4.49902C1.27734 5.71681 1.85081 6.97891 2.51778 8.11758C2.92723 8.8166 3.41249 9.53099 3.85325 10.1799C4.11999 10.5726 4.37043 10.9412 4.57789 11.268C4.66962 11.4125 4.82887 11.5 5 11.5ZM3.38065 7.61216C2.72927 6.5001 2.27734 5.43456 2.27734 4.49902C2.27734 2.88608 3.52188 1.61523 5 1.61523C6.47812 1.61523 7.72266 2.88608 7.72266 4.49902C7.72266 5.43456 7.27073 6.5001 6.61935 7.61216C6.21805 8.29725 5.78079 8.93942 5.36007 9.5573C5.23823 9.73622 5.11779 9.91312 5 10.0884C4.88221 9.91312 4.76177 9.73622 4.63993 9.5573C4.21921 8.93942 3.78195 8.29725 3.38065 7.61216Z" fill="#253746"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M3.03516 4.49902C3.03516 5.59996 3.89347 6.53711 5 6.53711C6.10653 6.53711 6.96484 5.59996 6.96484 4.49902C6.96484 3.39809 6.10653 2.46094 5 2.46094C3.89347 2.46094 3.03516 3.39809 3.03516 4.49902ZM5 5.53711C4.49117 5.53711 4.03516 5.09421 4.03516 4.49902C4.03516 3.90384 4.49117 3.46094 5 3.46094C5.50883 3.46094 5.96484 3.90384 5.96484 4.49902C5.96484 5.09421 5.50883 5.53711 5 5.53711Z" fill="#253746"/>
				</svg>
				| Москва
			a(href="https://vetunion.ru/clinic/lk/#/appointments").controls.contacts
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.99984 7.25C6.76928 7.25 5.76117 6.24234 5.76117 5.01133H4.26117C4.26117 7.07099 5.94107 8.75 7.99984 8.75V7.25ZM5.76117 5.01133C5.76117 3.77294 6.77662 2.75 7.99984 2.75V1.25C5.93372 1.25 4.26117 2.95906 4.26117 5.01133H5.76117ZM7.99984 2.75C9.2304 2.75 10.2385 3.75766 10.2385 4.98867H11.7385C11.7385 2.92901 10.0586 1.25 7.99984 1.25V2.75ZM10.2385 4.98867C10.2385 6.22706 9.22306 7.25 7.99984 7.25V8.75C10.066 8.75 11.7385 7.04094 11.7385 4.98867H10.2385ZM12.6665 13.25H3.33317V14.75H12.6665V13.25ZM3.33317 13.25C3.35842 13.25 3.37984 13.261 3.39267 13.2738C3.4055 13.2867 3.4165 13.3081 3.4165 13.3333H1.9165C1.9165 14.1142 2.55229 14.75 3.33317 14.75V13.25ZM3.4165 13.3333V12.6667H1.9165V13.3333H3.4165ZM3.4165 12.6667C3.4165 11.6142 4.28072 10.75 5.33317 10.75V9.25C3.45229 9.25 1.9165 10.7858 1.9165 12.6667H3.4165ZM5.33317 10.75H10.6665V9.25H5.33317V10.75ZM10.6665 10.75C11.719 10.75 12.5832 11.6142 12.5832 12.6667H14.0832C14.0832 10.7858 12.5474 9.25 10.6665 9.25V10.75ZM12.5832 12.6667V13.3333H14.0832V12.6667H12.5832ZM12.5832 13.3333C12.5832 13.3081 12.5942 13.2867 12.607 13.2738C12.6198 13.261 12.6413 13.25 12.6665 13.25V14.75C13.4474 14.75 14.0832 14.1142 14.0832 13.3333H12.5832Z" fill="#253746"/>
					</svg>
			.controls.controls--contacts
				.controls__link.controls__link--with-inner
					a(href="#")
						<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M2.8081 1.8956C3.77232 0.931338 5.3779 1.0617 6.16223 2.18978C6.48581 2.65599 6.83409 3.15629 7.22365 3.70838L7.22504 3.71035C7.83199 4.57641 7.74401 5.76865 6.98887 6.52748L6.88797 6.62906C7.21901 7.08225 7.60777 7.53198 8.03638 7.96061C8.03638 7.96061 8.03638 7.96061 8.03638 7.96061L8.03827 7.9625C8.46818 8.39159 8.91761 8.78042 9.37034 9.11137L9.47309 9.0093C10.2309 8.25876 11.4212 8.16443 12.2898 8.775C12.8111 9.14177 13.2859 9.47254 13.7301 9.78198L13.809 9.83691C13.8087 9.83675 13.8092 9.83707 13.809 9.83691C14.9381 10.6214 15.0691 12.2277 14.1031 13.1919L13.6248 13.6702L13.6237 13.6714C12.3577 14.932 10.6899 14.9591 9.12876 14.4036C7.59229 13.857 6.02709 12.7149 4.68032 11.3735C4.67121 11.3652 4.66225 11.3567 4.65346 11.3479C3.30034 9.9935 2.14641 8.4168 1.59619 6.86957C1.0411 5.30869 1.06821 3.6417 2.328 2.37571L2.32929 2.37441L2.8081 1.8956ZM5.68694 10.26C5.69547 10.2678 5.70386 10.2758 5.7121 10.284C6.97841 11.551 8.37111 12.542 9.63156 12.9904C10.8782 13.4339 11.8569 13.3135 12.5648 12.6089C12.5647 12.609 12.565 12.6087 12.5648 12.6089L13.0429 12.1308C13.3536 11.8207 13.307 11.3145 12.9536 11.0691L12.8719 11.0122C12.4282 10.7031 11.9512 10.3708 11.4272 10.0021C11.1487 9.80639 10.7672 9.83913 10.529 10.0747C10.5289 10.0748 10.5291 10.0746 10.529 10.0747L9.98822 10.6119C9.73993 10.8585 9.35406 10.9007 9.05839 10.7134C8.33325 10.2542 7.62721 9.67151 6.97863 9.02418L6.97572 9.02127C6.32765 8.37318 5.745 7.66574 5.28601 6.94092C5.09878 6.64526 5.14091 6.25941 5.38754 6.01112L5.92514 5.4699C6.15858 5.23532 6.19365 4.85312 5.99722 4.57201C5.60471 4.01573 5.25451 3.51267 4.93031 3.04556C4.6849 2.69325 4.1788 2.6462 3.86878 2.95624L3.39068 3.43435C2.68658 4.14239 2.56628 5.1207 3.00948 6.36697C3.45439 7.61805 4.43371 8.99973 5.68694 10.26Z" fill="#253746"/>
						</svg>
					.controls__inner.controls__inner--phone
						.controls.controls--inner
							a(href="#").controls__link +7 (499) 111-25-28 – запись в клинике
							a(href="#").controls__link +7 (499) 191-10-74 – выездная служба
				button(data-modal-open="registrationToReception").controls__link.controls__link--dark Записаться на приём
			button.controls.burger
				span
				span
				span

.header-menu
	.container
		nav.header-menu__navigation
			button.header-menu__close
				<svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M4.5858 12.9998C4.4699 12.9999 4.35659 12.9655 4.26022 12.9011C4.16384 12.8367 4.08872 12.7452 4.04436 12.6381C4.00001 12.5311 3.9884 12.4132 4.01102 12.2996C4.03364 12.1859 4.08946 12.0815 4.17143 11.9995L14.9996 1.1714C15.1095 1.0615 15.2585 0.999756 15.4139 0.999756C15.5693 0.999756 15.7184 1.0615 15.8283 1.1714C15.9382 1.28129 15.9999 1.43035 15.9999 1.58577C15.9999 1.74119 15.9382 1.89025 15.8283 2.00015L5.00018 12.8283C4.94581 12.8828 4.88122 12.926 4.81011 12.9554C4.739 12.9848 4.66277 12.9999 4.5858 12.9998Z" fill="white" stroke="white" stroke-width="0.5"/>
					<path d="M15.4139 12.9998C15.3369 12.9999 15.2607 12.9848 15.1896 12.9554C15.1185 12.926 15.0539 12.8828 14.9995 12.8283L4.1714 2.00015C4.0615 1.89025 3.99976 1.74119 3.99976 1.58577C3.99976 1.43035 4.0615 1.28129 4.1714 1.1714C4.28129 1.0615 4.43035 0.999756 4.58577 0.999756C4.74119 0.999756 4.89025 1.0615 5.00015 1.1714L15.8283 11.9995C15.9102 12.0815 15.9661 12.1859 15.9887 12.2996C16.0113 12.4132 15.9997 12.5311 15.9553 12.6381C15.911 12.7452 15.8359 12.8367 15.7395 12.9011C15.6431 12.9655 15.5298 12.9999 15.4139 12.9998Z" fill="white" stroke="white" stroke-width="0.5"/>
				</svg>
			.header-menu__header
				a(href="#").header-menu__link
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.99984 7.25C6.76928 7.25 5.76117 6.24234 5.76117 5.01133H4.26117C4.26117 7.07099 5.94107 8.75 7.99984 8.75V7.25ZM5.76117 5.01133C5.76117 3.77294 6.77662 2.75 7.99984 2.75V1.25C5.93372 1.25 4.26117 2.95906 4.26117 5.01133H5.76117ZM7.99984 2.75C9.2304 2.75 10.2385 3.75766 10.2385 4.98867H11.7385C11.7385 2.92901 10.0586 1.25 7.99984 1.25V2.75ZM10.2385 4.98867C10.2385 6.22706 9.22306 7.25 7.99984 7.25V8.75C10.066 8.75 11.7385 7.04094 11.7385 4.98867H10.2385ZM12.6665 13.25H3.33317V14.75H12.6665V13.25ZM3.33317 13.25C3.35842 13.25 3.37984 13.261 3.39267 13.2738C3.4055 13.2867 3.4165 13.3081 3.4165 13.3333H1.9165C1.9165 14.1142 2.55229 14.75 3.33317 14.75V13.25ZM3.4165 13.3333V12.6667H1.9165V13.3333H3.4165ZM3.4165 12.6667C3.4165 11.6142 4.28072 10.75 5.33317 10.75V9.25C3.45229 9.25 1.9165 10.7858 1.9165 12.6667H3.4165ZM5.33317 10.75H10.6665V9.25H5.33317V10.75ZM10.6665 10.75C11.719 10.75 12.5832 11.6142 12.5832 12.6667H14.0832C14.0832 10.7858 12.5474 9.25 10.6665 9.25V10.75ZM12.5832 12.6667V13.3333H14.0832V12.6667H12.5832ZM12.5832 13.3333C12.5832 13.3081 12.5942 13.2867 12.607 13.2738C12.6198 13.261 12.6413 13.25 12.6665 13.25V14.75C13.4474 14.75 14.0832 14.1142 14.0832 13.3333H12.5832Z" fill="white"/>
					</svg>
					| Кабинет пациента
				button.header-menu__link#searchMobileOpener
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9.46242 3.72109C11.017 5.27563 11.017 7.79605 9.46242 9.3506C7.90787 10.9051 5.38745 10.9051 3.8329 9.3506C2.27836 7.79605 2.27836 5.27563 3.8329 3.72109C5.38745 2.16654 7.90787 2.16654 9.46242 3.72109" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M9.43359 9.37354L13.3336 13.3269" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					| Поиск
			a.header-menu__link.header-menu__link--big Услуги
			a.header-menu__link.header-menu__link--big Акции
			a.header-menu__link.header-menu__link--big О нас
			a.header-menu__link.header-menu__link--big Врачи
			a.header-menu__link.header-menu__link--big Адреса клиник
			a.header-menu__link(href="#") Полезные материалы
			a.header-menu__link(href="#") Новости
			a.header-menu__link(href="#") СМИ о нас
			a.header-menu__link(href="#") Клиники-партнеры
			a.header-menu__link(href="#") Отзывы
			a.header-menu__link.header-menu__link--small(href="#") Социальная ответственность
			a.header-menu__link.header-menu__link--small(href="#") Вакансии
			.controls.controls--switch-mobile
				a(href="#").controls__link.controls__link--active Клиника
				a(href="#").controls__link Лаборатория
			.header-menu__phones
				a(href="#").header-menu__phone +7 (499) 111-25-28 – запись в клинике
				a(href="#").header-menu__phone +7 (499) 191-10-74 – выездная служба

.search-container
	.container
		button.search-container__back#searchBack < Назад
		label.search-container-input
			<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M18.9239 7.94249C22.0329 11.0516 22.0329 16.0924 18.9239 19.2015C15.8148 22.3106 10.7739 22.3106 7.66483 19.2015C4.55573 16.0924 4.55573 11.0516 7.66483 7.94249C10.7739 4.8334 15.8148 4.8334 18.9239 7.94249" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M18.8662 19.2467L26.6662 27.1533" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
			input(type="search" placeholder="Я ищу...").search-container-input__field
		.search-container__row
			.search-container__results
				a(href="#").search-container__result Вакцинация Биокан DHPPi+L
				a(href="#").search-container__result Вакцинация отечественная от бешенства Рабикс
				a(href="#").search-container__result Вакцинация отечественная от бешенства Рабикс
			a(href="#").search-container__result.search-container__result--all-results Все результаты
			p.search-container__not-found Нет результатов по запросу “тауриа”
