html(lang="ru")
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, viewport-fit=cover')
		title Vetunion
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
		link(rel='stylesheet' type='text/css' href='assets/css/style.css')
		link(rel='stylesheet' type='text/css' href='assets/css/cx-style.css')

	body
		.global-wrapper
			include _mixins
			block header
				include _header
			block main
				main.main
					block content
			block footer
				include _footer

		block widget

		.modal-container
			.modal-container__wrapper
				.modal.modal-reception#registrationToReception
					button.modal__close
						<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5858 12.4998C1.4699 12.4999 1.35659 12.4655 1.26022 12.4011C1.16384 12.3367 1.08872 12.2452 1.04436 12.1381C1.00001 12.0311 0.988403 11.9132 1.01102 11.7996C1.03364 11.6859 1.08946 11.5815 1.17143 11.4995L11.9996 0.671396C12.1095 0.561497 12.2585 0.499756 12.4139 0.499756C12.5693 0.499756 12.7184 0.561497 12.8283 0.671396C12.9382 0.781295 12.9999 0.93035 12.9999 1.08577C12.9999 1.24119 12.9382 1.39025 12.8283 1.50015L2.00018 12.3283C1.94581 12.3828 1.88122 12.426 1.81011 12.4554C1.739 12.4848 1.66277 12.4999 1.5858 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
							<path d="M12.4139 12.4998C12.3369 12.4999 12.2607 12.4848 12.1896 12.4554C12.1185 12.426 12.0539 12.3828 11.9995 12.3283L1.1714 1.50015C1.0615 1.39025 0.999756 1.24119 0.999756 1.08577C0.999756 0.93035 1.0615 0.781295 1.1714 0.671396C1.28129 0.561497 1.43035 0.499756 1.58577 0.499756C1.74119 0.499756 1.89025 0.561497 2.00015 0.671396L12.8283 11.4995C12.9102 11.5815 12.9661 11.6859 12.9887 11.7996C13.0113 11.9132 12.9997 12.0311 12.9553 12.1381C12.911 12.2452 12.8359 12.3367 12.7395 12.4011C12.6431 12.4655 12.5298 12.4999 12.4139 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
						</svg>
					.modal-reception__top
						p.modal-reception__title.modal-reception__title--light Выберите удобный для вас способ записи
						button(data-modal-open="registrationToReceptionForm").modal-reception__button.button.button--light Оставить заявку
						a(href="https://api.whatsapp.com/send?phone=79153112684&text=%22%D0%9E%D0%B1%D1%8F%D0%B7%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%20%D0%BE%D1%82%D0%BF%D1%80%D0%B0%D0%B2%D1%8C%D1%82%D0%B5%20%D1%8D%D1%82%D0%BE%20%D1%81%D0%BE%D0%BE%D0%B1%D1%89%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B8%20%D0%B4%D0%BE%D0%B6%D0%B4%D0%B8%D1%82%D0%B5%D1%81%D1%8C%20%D0%BE%D1%82%D0%B2%D0%B5%D1%82%D0%B0.%20%D0%92%D0%B0%D1%88%20%D0%BD%D0%BE%D0%BC%D0%B5%D1%80:%201131805%22").modal-reception__button.button.button--light Написать в Whatsapp
					p.modal-reception__title Уже проходите лечение у нас?
					a(href="https://vetunion.ru/clinic/online-zapis/").modal-reception__button.modal-reception__button--grey.button.button--light Онлайн-запись
				.modal.modal-registration#registrationToReceptionForm
					button.modal__close
						<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5858 12.4998C1.4699 12.4999 1.35659 12.4655 1.26022 12.4011C1.16384 12.3367 1.08872 12.2452 1.04436 12.1381C1.00001 12.0311 0.988403 11.9132 1.01102 11.7996C1.03364 11.6859 1.08946 11.5815 1.17143 11.4995L11.9996 0.671396C12.1095 0.561497 12.2585 0.499756 12.4139 0.499756C12.5693 0.499756 12.7184 0.561497 12.8283 0.671396C12.9382 0.781295 12.9999 0.93035 12.9999 1.08577C12.9999 1.24119 12.9382 1.39025 12.8283 1.50015L2.00018 12.3283C1.94581 12.3828 1.88122 12.426 1.81011 12.4554C1.739 12.4848 1.66277 12.4999 1.5858 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
							<path d="M12.4139 12.4998C12.3369 12.4999 12.2607 12.4848 12.1896 12.4554C12.1185 12.426 12.0539 12.3828 11.9995 12.3283L1.1714 1.50015C1.0615 1.39025 0.999756 1.24119 0.999756 1.08577C0.999756 0.93035 1.0615 0.781295 1.1714 0.671396C1.28129 0.561497 1.43035 0.499756 1.58577 0.499756C1.74119 0.499756 1.89025 0.561497 2.00015 0.671396L12.8283 11.4995C12.9102 11.5815 12.9661 11.6859 12.9887 11.7996C13.0113 11.9132 12.9997 12.0311 12.9553 12.1381C12.911 12.2452 12.8359 12.3367 12.7395 12.4011C12.6431 12.4655 12.5298 12.4999 12.4139 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
						</svg>
					button.modal-registration__back(data-modal-open="registrationToReception")
						<svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M3.9701 9.12696L0.255841 5.4127C0.0279167 5.18478 0.0279165 4.81524 0.255842 4.58731L3.9701 0.873057C4.19802 0.645132 4.56756 0.645132 4.79549 0.873057C5.02341 1.10098 5.02341 1.47052 4.79549 1.69845L2.07757 4.41637L10.5732 4.41637L10.5732 5.58365L2.07757 5.58365L4.79549 8.30157C5.02341 8.52949 5.02341 8.89903 4.79549 9.12696C4.56756 9.35488 4.19802 9.35488 3.9701 9.12696Z" fill="#253746"/>
						</svg>
					p.modal-registration__title Оставьте заявку
					p.modal-registration__text *Поля обязательные для заполнения
					form.modal-registration__form#formRegistrationToReception
						input(type="text" required placeholder="Ваше имя*").input
						input(type="tel" required placeholder="Номер телефона*").input
						p.modal-registration__agreements Заполняя форму, вы соглашаетесь с <a href="https://vetunion.ru/privacy-policy/" target="_blank">политикой конфиденциальности</a> компании <br><br> <a href="/assets/documents/contract_for_the_provision_of_services.docx" target="_blank">Договор на оказание услуг</a>
						button.modal-registration__form.button.button--light Отправить
				.modal.modal-registration#orderToReceptionForm
					button.modal__close
						<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5858 12.4998C1.4699 12.4999 1.35659 12.4655 1.26022 12.4011C1.16384 12.3367 1.08872 12.2452 1.04436 12.1381C1.00001 12.0311 0.988403 11.9132 1.01102 11.7996C1.03364 11.6859 1.08946 11.5815 1.17143 11.4995L11.9996 0.671396C12.1095 0.561497 12.2585 0.499756 12.4139 0.499756C12.5693 0.499756 12.7184 0.561497 12.8283 0.671396C12.9382 0.781295 12.9999 0.93035 12.9999 1.08577C12.9999 1.24119 12.9382 1.39025 12.8283 1.50015L2.00018 12.3283C1.94581 12.3828 1.88122 12.426 1.81011 12.4554C1.739 12.4848 1.66277 12.4999 1.5858 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
							<path d="M12.4139 12.4998C12.3369 12.4999 12.2607 12.4848 12.1896 12.4554C12.1185 12.426 12.0539 12.3828 11.9995 12.3283L1.1714 1.50015C1.0615 1.39025 0.999756 1.24119 0.999756 1.08577C0.999756 0.93035 1.0615 0.781295 1.1714 0.671396C1.28129 0.561497 1.43035 0.499756 1.58577 0.499756C1.74119 0.499756 1.89025 0.561497 2.00015 0.671396L12.8283 11.4995C12.9102 11.5815 12.9661 11.6859 12.9887 11.7996C13.0113 11.9132 12.9997 12.0311 12.9553 12.1381C12.911 12.2452 12.8359 12.3367 12.7395 12.4011C12.6431 12.4655 12.5298 12.4999 12.4139 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
						</svg>
					p.modal-registration__title Запись на онлайн-консультацию
					form.modal-registration__form#formOrderToReception
						input(type="text" required placeholder="Ваше имя*").input
						input(type="tel" required placeholder="Номер телефона*").input
						p.modal-registration__agreements Заполняя форму, вы соглашаетесь с <a href="https://vetunion.ru/privacy-policy/" target="_blank">политикой конфиденциальности</a> компании <br><br> <a href="/assets/documents/contract_for_the_provision_of_services.docx" target="_blank">Договор на оказание услуг</a>
						button.modal-registration__form.button.button--light Записаться
				.modal.modal-registration#orderHomeExit
					button.modal__close
						<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5858 12.4998C1.4699 12.4999 1.35659 12.4655 1.26022 12.4011C1.16384 12.3367 1.08872 12.2452 1.04436 12.1381C1.00001 12.0311 0.988403 11.9132 1.01102 11.7996C1.03364 11.6859 1.08946 11.5815 1.17143 11.4995L11.9996 0.671396C12.1095 0.561497 12.2585 0.499756 12.4139 0.499756C12.5693 0.499756 12.7184 0.561497 12.8283 0.671396C12.9382 0.781295 12.9999 0.93035 12.9999 1.08577C12.9999 1.24119 12.9382 1.39025 12.8283 1.50015L2.00018 12.3283C1.94581 12.3828 1.88122 12.426 1.81011 12.4554C1.739 12.4848 1.66277 12.4999 1.5858 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
							<path d="M12.4139 12.4998C12.3369 12.4999 12.2607 12.4848 12.1896 12.4554C12.1185 12.426 12.0539 12.3828 11.9995 12.3283L1.1714 1.50015C1.0615 1.39025 0.999756 1.24119 0.999756 1.08577C0.999756 0.93035 1.0615 0.781295 1.1714 0.671396C1.28129 0.561497 1.43035 0.499756 1.58577 0.499756C1.74119 0.499756 1.89025 0.561497 2.00015 0.671396L12.8283 11.4995C12.9102 11.5815 12.9661 11.6859 12.9887 11.7996C13.0113 11.9132 12.9997 12.0311 12.9553 12.1381C12.911 12.2452 12.8359 12.3367 12.7395 12.4011C12.6431 12.4655 12.5298 12.4999 12.4139 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
						</svg>
					p.modal-registration__title Заказать выезд на дом
					p.modal-registration__text *Поля обязательные для заполнения
					form.modal-registration__form#formOrderHomeExit
						input(type="text" required placeholder="Ваше имя*").input
						input(type="tel" required placeholder="Номер телефона*").input
						input(type="text" placeholder="Комментарий").input
						p.modal-registration__agreements Заполняя форму, вы соглашаетесь с <a href="https://vetunion.ru/privacy-policy/" target="_blank">политикой конфиденциальности</a> компании <br><br> <a href="/assets/documents/contract_for_the_provision_of_services.docx" target="_blank">Договор на оказание услуг</a>
						button.modal-registration__form.button.button--light Отправить
				.modal.modal-registration.modal-registration--coupon#couponForm
					button.modal__close
						<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5858 12.4998C1.4699 12.4999 1.35659 12.4655 1.26022 12.4011C1.16384 12.3367 1.08872 12.2452 1.04436 12.1381C1.00001 12.0311 0.988403 11.9132 1.01102 11.7996C1.03364 11.6859 1.08946 11.5815 1.17143 11.4995L11.9996 0.671396C12.1095 0.561497 12.2585 0.499756 12.4139 0.499756C12.5693 0.499756 12.7184 0.561497 12.8283 0.671396C12.9382 0.781295 12.9999 0.93035 12.9999 1.08577C12.9999 1.24119 12.9382 1.39025 12.8283 1.50015L2.00018 12.3283C1.94581 12.3828 1.88122 12.426 1.81011 12.4554C1.739 12.4848 1.66277 12.4999 1.5858 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
							<path d="M12.4139 12.4998C12.3369 12.4999 12.2607 12.4848 12.1896 12.4554C12.1185 12.426 12.0539 12.3828 11.9995 12.3283L1.1714 1.50015C1.0615 1.39025 0.999756 1.24119 0.999756 1.08577C0.999756 0.93035 1.0615 0.781295 1.1714 0.671396C1.28129 0.561497 1.43035 0.499756 1.58577 0.499756C1.74119 0.499756 1.89025 0.561497 2.00015 0.671396L12.8283 11.4995C12.9102 11.5815 12.9661 11.6859 12.9887 11.7996C13.0113 11.9132 12.9997 12.0311 12.9553 12.1381C12.911 12.2452 12.8359 12.3367 12.7395 12.4011C12.6431 12.4655 12.5298 12.4999 12.4139 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
						</svg>
					p.modal-registration__title Дарим скидку 20% <br> на первый прием ветеринарных специалистов
					form.modal-registration__form#formCouponForm
						input(type="text" required placeholder="Ваше имя*").input
						input(type="email" required placeholder="Email*").input
						p.modal-registration__agreements Заполняя форму, вы соглашаетесь с <a href="https://vetunion.ru/privacy-policy/" target="_blank">политикой конфиденциальности</a> компании <br><br> <a href="/assets/documents/contract_for_the_provision_of_services.docx" target="_blank">Договор на оказание услуг</a>
						button.modal-registration__form.button.button--light Получить купон
				.modal.modal-registration#faqForm
					button.modal__close
						<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5858 12.4998C1.4699 12.4999 1.35659 12.4655 1.26022 12.4011C1.16384 12.3367 1.08872 12.2452 1.04436 12.1381C1.00001 12.0311 0.988403 11.9132 1.01102 11.7996C1.03364 11.6859 1.08946 11.5815 1.17143 11.4995L11.9996 0.671396C12.1095 0.561497 12.2585 0.499756 12.4139 0.499756C12.5693 0.499756 12.7184 0.561497 12.8283 0.671396C12.9382 0.781295 12.9999 0.93035 12.9999 1.08577C12.9999 1.24119 12.9382 1.39025 12.8283 1.50015L2.00018 12.3283C1.94581 12.3828 1.88122 12.426 1.81011 12.4554C1.739 12.4848 1.66277 12.4999 1.5858 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
							<path d="M12.4139 12.4998C12.3369 12.4999 12.2607 12.4848 12.1896 12.4554C12.1185 12.426 12.0539 12.3828 11.9995 12.3283L1.1714 1.50015C1.0615 1.39025 0.999756 1.24119 0.999756 1.08577C0.999756 0.93035 1.0615 0.781295 1.1714 0.671396C1.28129 0.561497 1.43035 0.499756 1.58577 0.499756C1.74119 0.499756 1.89025 0.561497 2.00015 0.671396L12.8283 11.4995C12.9102 11.5815 12.9661 11.6859 12.9887 11.7996C13.0113 11.9132 12.9997 12.0311 12.9553 12.1381C12.911 12.2452 12.8359 12.3367 12.7395 12.4011C12.6431 12.4655 12.5298 12.4999 12.4139 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
						</svg>
					p.modal-registration__title Остались вопросы?
					p.modal-registration__text *Поля обязательные для заполнения
					form.modal-registration__form#formFaqForm
						input(type="text" required placeholder="Ваше имя*").input
						input(type="text" required placeholder="Фамилия*").input
						input(type="email" required placeholder="Email*").input
						input(type="text" required placeholder="Задайте вопрос").input
						p.modal-registration__agreements Заполняя форму, вы соглашаетесь с <a href="https://vetunion.ru/privacy-policy/" target="_blank">политикой конфиденциальности</a> компании <br><br> <a href="/assets/documents/contract_for_the_provision_of_services.docx" target="_blank">Договор на оказание услуг</a>
						button.modal-registration__form.button.button--light Отправить сообщение
				.modal.modal-registration#reviewForm
					button.modal__close
						<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5858 12.4998C1.4699 12.4999 1.35659 12.4655 1.26022 12.4011C1.16384 12.3367 1.08872 12.2452 1.04436 12.1381C1.00001 12.0311 0.988403 11.9132 1.01102 11.7996C1.03364 11.6859 1.08946 11.5815 1.17143 11.4995L11.9996 0.671396C12.1095 0.561497 12.2585 0.499756 12.4139 0.499756C12.5693 0.499756 12.7184 0.561497 12.8283 0.671396C12.9382 0.781295 12.9999 0.93035 12.9999 1.08577C12.9999 1.24119 12.9382 1.39025 12.8283 1.50015L2.00018 12.3283C1.94581 12.3828 1.88122 12.426 1.81011 12.4554C1.739 12.4848 1.66277 12.4999 1.5858 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
							<path d="M12.4139 12.4998C12.3369 12.4999 12.2607 12.4848 12.1896 12.4554C12.1185 12.426 12.0539 12.3828 11.9995 12.3283L1.1714 1.50015C1.0615 1.39025 0.999756 1.24119 0.999756 1.08577C0.999756 0.93035 1.0615 0.781295 1.1714 0.671396C1.28129 0.561497 1.43035 0.499756 1.58577 0.499756C1.74119 0.499756 1.89025 0.561497 2.00015 0.671396L12.8283 11.4995C12.9102 11.5815 12.9661 11.6859 12.9887 11.7996C13.0113 11.9132 12.9997 12.0311 12.9553 12.1381C12.911 12.2452 12.8359 12.3367 12.7395 12.4011C12.6431 12.4655 12.5298 12.4999 12.4139 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
						</svg>
					p.modal-registration__title Оставьте отзыв о нашей клинике
					p.modal-registration__text *Поля обязательные для заполнения
					form.modal-registration__form#formReviewForm
						.modal-registration__row
							input(type="text" required placeholder="Ваше имя*").input
							input(type="text" required placeholder="Имя питомца*").input
						input(type="email" required placeholder="Email*").input
						input(type="tel" required placeholder="Номер телефона*").input
						input(type="text" required placeholder="Отзыв*").input
						label.checkbox
							input.checkbox__input(type="checkbox")
							span.checkbox__box
							span.checkbox__text Разрешено размещение на сайте
						label.file
							input.file__input(type="file" required accept="image/*")
							<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M13.674 4H11.527L11.277 3.25C11.1565 2.88583 10.9242 2.56897 10.6131 2.34453C10.302 2.12009 9.92808 1.99953 9.5445 2H6.4555C6.07202 1.99971 5.69821 2.12035 5.38726 2.34477C5.0763 2.56919 4.84403 2.88596 4.7235 3.25L4.473 4H2.326C1.84188 4.00053 1.37773 4.19308 1.03541 4.53541C0.693081 4.87774 0.500529 5.34188 0.5 5.826V13.176C0.501058 13.6598 0.693843 14.1234 1.03611 14.4653C1.37838 14.8072 1.84222 14.9995 2.326 15H13.676C14.1598 14.9989 14.6234 14.8062 14.9653 14.4639C15.3072 14.1216 15.4995 13.6578 15.5 13.174V5.824C15.4989 5.34023 15.3062 4.8766 14.9639 4.5347C14.6216 4.19281 14.1578 4.00053 13.674 4ZM14.5 13.174C14.4997 13.393 14.4126 13.6029 14.2578 13.7578C14.1029 13.9126 13.893 13.9997 13.674 14H2.326C2.10701 13.9997 1.89707 13.9126 1.74222 13.7578C1.58737 13.6029 1.50026 13.393 1.5 13.174V5.824C1.50079 5.60536 1.58814 5.39593 1.74293 5.24152C1.89772 5.0871 2.10736 5.00026 2.326 5H4.8335C4.9384 4.99992 5.04061 4.96685 5.12568 4.90548C5.21074 4.8441 5.27435 4.75752 5.3075 4.658L5.672 3.5645C5.72673 3.40003 5.83189 3.25697 5.97253 3.15564C6.11317 3.05431 6.28216 2.99985 6.4555 3H9.5445C9.71792 2.99981 9.88699 3.05431 10.0277 3.15575C10.1683 3.25718 10.2734 3.40039 10.328 3.565L10.6925 4.658C10.7256 4.75752 10.7893 4.8441 10.8743 4.90548C10.9594 4.96685 11.0616 4.99992 11.1665 5H13.674C13.893 5.00027 14.1029 5.08738 14.2578 5.24222C14.4126 5.39707 14.4997 5.60701 14.5 5.826V13.174Z" fill="white"/>
								<path d="M8 5.5C7.25832 5.5 6.5333 5.71993 5.91661 6.13199C5.29993 6.54404 4.81928 7.12971 4.53545 7.81494C4.25162 8.50016 4.17736 9.25416 4.32206 9.98159C4.46675 10.709 4.8239 11.3772 5.34835 11.9017C5.8728 12.4261 6.54098 12.7833 7.26841 12.9279C7.99584 13.0726 8.74984 12.9984 9.43506 12.7145C10.1203 12.4307 10.706 11.9501 11.118 11.3334C11.5301 10.7167 11.75 9.99168 11.75 9.25C11.7489 8.25576 11.3535 7.30255 10.6505 6.59952C9.94745 5.89649 8.99424 5.50106 8 5.5ZM8 12C7.4561 12 6.92442 11.8387 6.47218 11.5365C6.01995 11.2344 5.66747 10.8049 5.45933 10.3024C5.25119 9.79988 5.19673 9.24695 5.30284 8.7135C5.40895 8.18005 5.67086 7.69005 6.05546 7.30546C6.44005 6.92086 6.93006 6.65895 7.4635 6.55284C7.99695 6.44673 8.54988 6.50119 9.05238 6.70933C9.55488 6.91747 9.98437 7.26995 10.2865 7.72218C10.5887 8.17442 10.75 8.7061 10.75 9.25C10.7492 9.9791 10.4592 10.6781 9.94367 11.1937C9.42811 11.7092 8.7291 11.9992 8 12Z" fill="white"/>
								<path d="M13 7C13.2761 7 13.5 6.77614 13.5 6.5C13.5 6.22386 13.2761 6 13 6C12.7239 6 12.5 6.22386 12.5 6.5C12.5 6.77614 12.7239 7 13 7Z" fill="white"/>
							</svg>
							span.file__title Загрузить фото для публикации*
						p.modal-registration__agreements.modal-registration__agreements--review Заполняя форму, вы соглашаетесь с <a href="https://vetunion.ru/privacy-policy/" target="_blank">политикой конфиденциальности</a> компании <br><br> <a href="/assets/documents/contract_for_the_provision_of_services.docx" target="_blank">Договор на оказание услуг</a>
						button.modal-registration__form.button.button--light Отправить сообщение
				.modal.modal-registration#successForm
					button.modal__close
						<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5858 12.4998C1.4699 12.4999 1.35659 12.4655 1.26022 12.4011C1.16384 12.3367 1.08872 12.2452 1.04436 12.1381C1.00001 12.0311 0.988403 11.9132 1.01102 11.7996C1.03364 11.6859 1.08946 11.5815 1.17143 11.4995L11.9996 0.671396C12.1095 0.561497 12.2585 0.499756 12.4139 0.499756C12.5693 0.499756 12.7184 0.561497 12.8283 0.671396C12.9382 0.781295 12.9999 0.93035 12.9999 1.08577C12.9999 1.24119 12.9382 1.39025 12.8283 1.50015L2.00018 12.3283C1.94581 12.3828 1.88122 12.426 1.81011 12.4554C1.739 12.4848 1.66277 12.4999 1.5858 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
							<path d="M12.4139 12.4998C12.3369 12.4999 12.2607 12.4848 12.1896 12.4554C12.1185 12.426 12.0539 12.3828 11.9995 12.3283L1.1714 1.50015C1.0615 1.39025 0.999756 1.24119 0.999756 1.08577C0.999756 0.93035 1.0615 0.781295 1.1714 0.671396C1.28129 0.561497 1.43035 0.499756 1.58577 0.499756C1.74119 0.499756 1.89025 0.561497 2.00015 0.671396L12.8283 11.4995C12.9102 11.5815 12.9661 11.6859 12.9887 11.7996C13.0113 11.9132 12.9997 12.0311 12.9553 12.1381C12.911 12.2452 12.8359 12.3367 12.7395 12.4011C12.6431 12.4655 12.5298 12.4999 12.4139 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
						</svg>
					p.modal-registration__title Спасибо!
					p.modal-registration__text Мы свяжемся с Вами по указанному номеру телефона
					button.modal-registration__form.button.button--light(data-modal-close) Понятно
				.modal.modal-registration#errorForm
					button.modal__close
						<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5858 12.4998C1.4699 12.4999 1.35659 12.4655 1.26022 12.4011C1.16384 12.3367 1.08872 12.2452 1.04436 12.1381C1.00001 12.0311 0.988403 11.9132 1.01102 11.7996C1.03364 11.6859 1.08946 11.5815 1.17143 11.4995L11.9996 0.671396C12.1095 0.561497 12.2585 0.499756 12.4139 0.499756C12.5693 0.499756 12.7184 0.561497 12.8283 0.671396C12.9382 0.781295 12.9999 0.93035 12.9999 1.08577C12.9999 1.24119 12.9382 1.39025 12.8283 1.50015L2.00018 12.3283C1.94581 12.3828 1.88122 12.426 1.81011 12.4554C1.739 12.4848 1.66277 12.4999 1.5858 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
							<path d="M12.4139 12.4998C12.3369 12.4999 12.2607 12.4848 12.1896 12.4554C12.1185 12.426 12.0539 12.3828 11.9995 12.3283L1.1714 1.50015C1.0615 1.39025 0.999756 1.24119 0.999756 1.08577C0.999756 0.93035 1.0615 0.781295 1.1714 0.671396C1.28129 0.561497 1.43035 0.499756 1.58577 0.499756C1.74119 0.499756 1.89025 0.561497 2.00015 0.671396L12.8283 11.4995C12.9102 11.5815 12.9661 11.6859 12.9887 11.7996C13.0113 11.9132 12.9997 12.0311 12.9553 12.1381C12.911 12.2452 12.8359 12.3367 12.7395 12.4011C12.6431 12.4655 12.5298 12.4999 12.4139 12.4998Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
						</svg>
					p.modal-registration__title Произошла ошибка!
					p.modal-registration__text Не удалось отправить данные, попробуйте снова.
					button.modal-registration__form.button.button--light(data-modal-close) Понятно
				block modals

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	script(src='assets/scripts/inputmask.min.js')
	script(src='assets/scripts/script.js')
	<script>
	</script>
