extends _layout
block header
block footer
block main
	section.cx-banner
		.container
			.cx-banner__row
				img.cx-banner__img(src="/assets/img/cx-banner-img.png", alt="")
				.cx-banner__column
					p.cx-banner__title Как защить животных <br> от сезонных заболеваний?
					p.cx-banner__text Получите бесплатный гид <br> от врача-эксперта с рекомендациями!
				button.cx-banner__button Получить на почту
