extends _layout

block main
	section.hero
		.container
			.hero__row
				.hero-video
					video.hero-video__video(src="assets/video/hero-video.mp4" playsinline autoplay muted loop)
					.hero-video__row
						button(data-modal-open="orderHomeExit").hero-video__button.button Заказать выезд на дом
						button(data-modal-open="registrationToReception").hero-video__button.button.button--light Записаться на прием
				.hero__col
					img.hero__logo(src="assets/img/logo.svg", alt="")
					p.hero__subtitle Клиники доказательной <br> ветеринарии
					.hero__navigation
						.swiper-arrow#hero-swiper-arrow-prev
							<svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0.351557 6.77807C-0.0389669 7.16859 -0.0389666 7.80176 0.351557 8.19228L6.71552 14.5562C7.10604 14.9468 7.73921 14.9468 8.12973 14.5562C8.52026 14.1657 8.52026 13.5326 8.12973 13.142L2.47288 7.48518L8.12973 1.82832C8.52026 1.4378 8.52026 0.804634 8.12973 0.414109C7.73921 0.0235853 7.10604 0.0235846 6.71552 0.414109L0.351557 6.77807ZM18.0292 6.48518L1.05866 6.48518L1.05866 8.48518L18.0292 8.48518L18.0292 6.48518Z" fill="#253746"/>
							</svg>
						.swiper-arrow#hero-swiper-arrow-next
							<svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M17.707 8.19239C18.0976 7.80186 18.0976 7.1687 17.707 6.77818L11.3431 0.414214C10.9526 0.0236896 10.3194 0.0236896 9.92886 0.414214C9.53834 0.804738 9.53834 1.4379 9.92886 1.82843L15.5857 7.48528L9.92886 13.1421C9.53834 13.5327 9.53834 14.1658 9.92886 14.5563C10.3194 14.9469 10.9526 14.9469 11.3431 14.5563L17.707 8.19239ZM0.0293667 8.48528H16.9999L16.9999 6.48528H0.0293671L0.0293667 8.48528Z" fill="#253746"/>
							</svg>
					.swiper.hero-swiper
						.swiper-wrapper
							.hero-slide.swiper-slide
								a(href="#").hero-slide__link
								img.hero-slide__img(src="assets/img/hero-slide-img-01.png", alt="")
								.hero-slide__header
									.hero-slide__col
										p.hero-slide__title Welcome
										p.hero-slide__subtitle Комплексное обследование брахицефалитных пород
									.hero-slide__arrow
										<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M14 0.999756C14 0.447471 13.5523 -0.000244141 13 -0.000244141H4C3.44772 -0.000244141 3 0.447471 3 0.999756C3 1.55204 3.44772 1.99976 4 1.99976L12 1.99976V9.99976C12 10.552 12.4477 10.9998 13 10.9998C13.5523 10.9998 14 10.552 14 9.99976V0.999756ZM1.70711 13.7069L13.7071 1.70686L12.2929 0.292649L0.292893 12.2926L1.70711 13.7069Z" fill="#253746"/>
										</svg>
								p.hero-slide__price
									del 1 900 р.
									| 1 300 р.
							.hero-slide.hero-slide--pink.swiper-slide
								a(href="#").hero-slide__link
								img.hero-slide__img(src="assets/img/hero-slide-img-02.png", alt="")
								.hero-slide__header
									.hero-slide__col
										p.hero-slide__title Welcome
										p.hero-slide__subtitle Комплексное обследование брахицефалитных пород
									.hero-slide__arrow
										<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M14 0.999756C14 0.447471 13.5523 -0.000244141 13 -0.000244141H4C3.44772 -0.000244141 3 0.447471 3 0.999756C3 1.55204 3.44772 1.99976 4 1.99976L12 1.99976V9.99976C12 10.552 12.4477 10.9998 13 10.9998C13.5523 10.9998 14 10.552 14 9.99976V0.999756ZM1.70711 13.7069L13.7071 1.70686L12.2929 0.292649L0.292893 12.2926L1.70711 13.7069Z" fill="#253746"/>
										</svg>
								p.hero-slide__price
									del 1 900 р.
									| 1 300 р.
							.hero-slide.hero-slide--pink.swiper-slide
								a(href="#").hero-slide__link
								img.hero-slide__img(src="assets/img/hero-slide-img-02.png", alt="")
								.hero-slide__header
									.hero-slide__col
										p.hero-slide__title Welcome
										p.hero-slide__subtitle Комплексное обследование брахицефалитных пород
									.hero-slide__arrow
										<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M14 0.999756C14 0.447471 13.5523 -0.000244141 13 -0.000244141H4C3.44772 -0.000244141 3 0.447471 3 0.999756C3 1.55204 3.44772 1.99976 4 1.99976L12 1.99976V9.99976C12 10.552 12.4477 10.9998 13 10.9998C13.5523 10.9998 14 10.552 14 9.99976V0.999756ZM1.70711 13.7069L13.7071 1.70686L12.2929 0.292649L0.292893 12.2926L1.70711 13.7069Z" fill="#253746"/>
										</svg>
								p.hero-slide__price
									del 1 900 р.
									| 1 300 р.
							.hero-slide.hero-slide--pink.swiper-slide
								a(href="#").hero-slide__link
								img.hero-slide__img(src="assets/img/hero-slide-img-02.png", alt="")
								.hero-slide__header
									.hero-slide__col
										p.hero-slide__title Welcome
										p.hero-slide__subtitle Комплексное обследование брахицефалитных пород
									.hero-slide__arrow
										<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M14 0.999756C14 0.447471 13.5523 -0.000244141 13 -0.000244141H4C3.44772 -0.000244141 3 0.447471 3 0.999756C3 1.55204 3.44772 1.99976 4 1.99976L12 1.99976V9.99976C12 10.552 12.4477 10.9998 13 10.9998C13.5523 10.9998 14 10.552 14 9.99976V0.999756ZM1.70711 13.7069L13.7071 1.70686L12.2929 0.292649L0.292893 12.2926L1.70711 13.7069Z" fill="#253746"/>
										</svg>
								p.hero-slide__price
									del 1 900 р.
									| 1 300 р.
	section.benefits
		.container
			p.benefits__title Работаем по принципам <br> доказательной ветеринарии
			.benefits__blocks
				.benefits-block.benefits-block--pink
					.benefits-block__col
						.benefits-block__marks
							img.benefits-block__mark(src="assets/img/benefits-img-01.png", alt="")
							img.benefits-block__mark(src="assets/img/benefits-img-02.png", alt="")
						p.benefits-block__title Задаём стандарты <br> в отрасли
						p.benefits-block__text Разрабатываем и совершенствуем стандарты <br> в ветеринарной отрасли, чтобы вы и ваш питомец были защищены
					.benefits-block__col
						.benefits-block-item
							p.benefits-block-item__title Назначаем только нужные исследования
							p.benefits-block-item__text Назначаем только те исследования и манипуляции, которые имеют диагностическую и клиническую значимость
						.benefits-block-item
							p.benefits-block-item__title Используем современное оборудование
							p.benefits-block-item__text Каждый филиал оснащен специализированным ветеринарным оборудованием: <br> УЗИ, ЭХОкг, рентген.
						.benefits-block-item
							p.benefits-block-item__title Повышаем квалификацию врачей
							p.benefits-block-item__text Все наши специалисты действуют по международным протоколам, ежегодно участвуют в конференциях и повышают квалификацию.
				.benefits-block.benefits-block--sky
						.benefits-block__col
							p.benefits-block__title Построили собственную лабораторию в 2016 году
							p.benefits-block__text Один из самых крупных в стране ветеринарных лабораторных комплексов с высокими стандартами, где выполняем более 1900 видов исследований для животных.
						.benefits-block__col
							img.benefits-block__img(src="assets/img/benefits-img-03.jpg", alt="")
				.benefits-block.benefits-block--yellow
						.benefits-block__col
							p.benefits-block__title Комфортная атмосфера для питомца и его семьи
							ul.benefits-block__list
								li.benefits-block__list-item Уделяем особое внимание чистоте и деталям
								li.benefits-block__list-item Разделяем зоны ожидания для собак, кошек
								li.benefits-block__list-item Устанавливаем успокаивающие адаптеры для животных
								li.benefits-block__list-item Подкрепляем поход к врачу положительными эмоциями
						.benefits-block__col
							.swiper.benefits-swiper
								.swiper-wrapper
									.swiper-slide
										img.benefits-block__img(src="assets/img/benefits-img-04.jpg", alt="")
									.swiper-slide
										img.benefits-block__img(src="assets/img/benefits-img-04.jpg", alt="")
									.swiper-slide
										img.benefits-block__img(src="assets/img/benefits-img-04.jpg", alt="")
									.swiper-slide
										img.benefits-block__img(src="assets/img/benefits-img-04.jpg", alt="")
								.swiper-pagination
	section.services
		.container
			.services__col
				a(href="#").services-link
					<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M39.9759 34.1101C39.9475 34.1004 38.2921 33.7576 37.4499 33.7455L33.691 31.8657C33.3822 31.7116 33.1904 31.4015 33.1904 31.0565V27.7673C35.0261 26.8076 36.3975 25.0599 36.8279 22.945C38.497 22.7021 39.7832 21.2619 39.7832 19.5265C39.7832 17.8418 38.5704 16.4358 36.9719 16.1333V14.501C36.9719 14.1351 36.6754 13.8386 36.3095 13.8386C35.9437 13.8386 35.6471 14.1351 35.6471 14.501V14.7898H20.7658V10.8453C20.7658 8.90411 22.345 7.32483 24.2863 7.32483H32.1266C34.0678 7.32483 35.6471 8.90411 35.6471 10.8453V11.498C35.6471 11.864 35.9437 12.1605 36.3095 12.1605C36.6754 12.1605 36.9719 11.864 36.9719 11.498V10.8453C36.9719 8.1736 34.7983 6 32.1266 6H24.2863C21.6145 6 19.4409 8.1736 19.4409 10.8453V16.1404C17.8617 16.4584 16.6659 17.8589 16.6659 19.5265C16.6659 21.2489 17.9328 22.6806 19.5837 22.9396C20.0081 25.0169 21.3677 26.8141 23.2591 27.7888V31.0561C23.2591 31.4012 23.0671 31.7117 22.758 31.8661L18.9447 33.7718C18.0303 33.8406 16.2582 34.3564 16.2283 34.3702C12.4765 35.7773 9.79883 39.4003 9.79883 43.6375V49.1709C9.79883 50.1795 10.6194 51 11.628 51H11.456C11.8219 51 12.1185 50.7035 12.1185 50.3376C12.1185 49.9717 11.8219 49.6752 11.456 49.6752H11.628C11.3499 49.6752 11.1237 49.4489 11.1237 49.1709V43.6375C11.1237 40.2965 13.0458 37.3964 15.8422 35.9839V41.4346H15.5227C14.1842 41.4346 13.0953 42.5235 13.0953 43.8619V46.0653C13.0953 46.8677 13.7481 47.5206 14.5506 47.5206H15.1312C15.497 47.5206 15.7936 47.2241 15.7936 46.8581C15.7936 46.4922 15.497 46.1957 15.1312 46.1957H14.5506C14.4787 46.1957 14.4201 46.1373 14.4201 46.0653V43.8619C14.4201 43.2539 14.9147 42.7594 15.5227 42.7594H17.4864C18.0944 42.7594 18.589 43.254 18.589 43.8619V46.0653C18.589 46.1372 18.5304 46.1957 18.4585 46.1957H17.878C17.5122 46.1957 17.2156 46.4922 17.2156 46.8581C17.2156 47.2241 17.5122 47.5206 17.878 47.5206H18.4585C19.2609 47.5206 19.9138 46.8677 19.9138 46.0653V43.8619C19.9138 42.5235 18.8249 41.4346 17.4864 41.4346H17.1669V35.4485C17.9657 35.2017 18.8138 35.0685 19.6926 35.0685H20.2999C23.0372 37.2614 25.6469 38.3586 28.2155 38.3586C30.7842 38.3586 33.3121 37.2614 35.886 35.0685H37.3057C37.9206 35.0685 38.5204 35.1341 39.0989 35.2579V41.325C37.7386 41.6283 36.7183 42.8441 36.7183 44.2945C36.7183 45.9724 38.0834 47.3375 39.7613 47.3375C41.4393 47.3375 42.8044 45.9724 42.8044 44.2945C42.8044 42.8441 41.7841 41.6283 40.4237 41.325V35.6558C43.6115 36.9054 45.8747 40.012 45.8747 43.6374V49.1708C45.8747 49.4488 45.6484 49.6751 45.3704 49.6751H45.459C45.0932 49.6751 44.7966 49.9716 44.7966 50.3375C44.7966 50.7034 45.0932 50.9999 45.459 50.9999H45.3705C46.379 50.9999 47.1996 50.1794 47.1996 49.1708V43.6374C47.1996 39.1069 44.1385 35.2782 39.9759 34.1101ZM41.4795 44.2945C41.4795 45.2419 40.7088 46.0126 39.7613 46.0126C38.8139 46.0126 38.0431 45.2419 38.0431 44.2945C38.0431 43.3472 38.8139 42.5763 39.7613 42.5763C40.7088 42.5763 41.4795 43.3472 41.4795 44.2945ZM38.4584 19.5265C38.4584 20.4769 37.8326 21.2837 36.9716 21.5572C36.9716 21.5485 36.972 21.5399 36.972 21.5313V17.4967C37.8328 17.7702 38.4584 18.5766 38.4584 19.5265ZM17.9907 19.5265C17.9907 18.5925 18.5994 17.7946 19.4409 17.5094V21.5314C19.4409 21.5359 19.4411 21.5404 19.4411 21.5449C18.599 21.2604 17.9907 20.4635 17.9907 19.5265ZM20.8094 22.2372C20.7804 22.0027 20.7658 16.1146 20.7658 16.1146H35.6471C35.6471 16.1146 35.6325 22.0027 35.6035 22.2376C35.2529 25.0908 32.8169 27.2423 29.9371 27.2423H26.4767C25.6807 27.2423 24.9105 27.0816 24.1872 26.7645C22.348 25.9591 21.0538 24.2245 20.8094 22.2372ZM21.248 34.1299C21.2445 34.1223 21.2408 34.1147 21.2371 34.1073L23.3505 33.0511C24.1113 32.6706 24.5839 31.9062 24.5839 31.0561V28.3077C25.1964 28.479 25.8295 28.5672 26.4767 28.5672H29.9371C30.6037 28.5672 31.251 28.4735 31.8655 28.2982V31.0565C31.8655 31.9068 32.3382 32.6711 33.0988 33.0508L35.0082 34.0057C34.9755 34.0487 34.9474 34.0954 34.9259 34.1457C30.3616 37.9815 26.1174 37.9765 21.248 34.1299Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
					</svg>
					| Дерматология
					span.services-link__button
						<svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.90254 11.3466L17.5648 11.3466L12.4486 16.4379C11.8778 17.0061 11.8756 17.9294 12.4437 18.5003C13.0119 19.0712 13.9353 19.0734 14.5062 18.5053L22.1263 10.9219C22.6957 10.3538 22.6988 9.42605 22.1277 8.85599L14.5063 1.27127C13.9355 0.703246 13.0121 0.705215 12.4439 1.27623C11.8757 1.84709 11.8779 2.77043 12.4488 3.3386L17.5648 8.42994L2.90254 8.42993C2.0971 8.42993 1.44421 9.08283 1.44421 9.88827C1.44421 10.6937 2.0971 11.3466 2.90254 11.3466Z" fill="#253746" stroke="white"/>
						</svg>
				hr.services__divider
				a(href="#").services-link
					<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M49.0313 37.625C48.4401 38.4091 47.6754 39.0457 46.7971 39.4848C45.9188 39.924 44.9507 40.1538 43.9688 40.1562H41.1563C41.0577 40.1563 40.9603 40.177 40.8702 40.2171C40.7802 40.2572 40.6996 40.3157 40.6337 40.389L38.147 43.152L39.1922 44.0924L41.4694 41.5625H43.9688C45.169 41.5596 46.3522 41.2787 47.4257 40.742C48.4992 40.2052 49.4338 39.4271 50.1563 38.4687L49.0313 37.625Z" fill="#253746"/>
						<path d="M35.1754 46.4535C34.9726 46.6793 34.7256 46.8609 34.4496 46.9872C34.1737 47.1135 33.8747 47.1816 33.5713 47.1875C32.3294 47.2109 31.3129 46.1614 31.3129 44.9193V44.8816C31.3129 44.5906 31.3703 44.3023 31.4817 44.0334C31.5931 43.7645 31.7563 43.5201 31.9622 43.3143L31.9806 43.2958L38.1383 37.1382L37.1439 36.1438L30.9858 42.3019C30.721 42.5666 30.3951 42.7621 30.0368 42.8711C29.6786 42.9802 29.299 42.9994 28.9316 42.9271C28.6233 42.8688 28.3311 42.7451 28.0746 42.5644C27.8005 42.374 27.5714 42.1259 27.4036 41.8373C27.2358 41.5488 27.1333 41.227 27.1034 40.8946C27.0735 40.5622 27.1168 40.2273 27.2304 39.9134C27.344 39.5996 27.525 39.3145 27.7608 39.0782L33.9195 32.9195L32.9251 31.9251L26.7334 38.1158C26.3274 38.5218 25.7768 38.7499 25.2026 38.75C24.611 38.7559 24.0392 38.5377 23.6019 38.1393C23.2076 37.7732 22.9559 37.2793 22.8914 36.7452C22.8269 36.2111 22.9538 35.6714 23.2495 35.222L28.3762 30.2305C28.6484 30.285 28.9254 30.3124 29.2031 30.3125H37.3249L38.536 31.6748C39.9245 33.2358 41.6276 34.4852 43.5334 35.3411C45.4392 36.197 47.5046 36.6398 49.5938 36.6406V35.2343C47.7032 35.2336 45.8341 34.8329 44.1094 34.0584C42.3848 33.2839 40.8435 32.1532 39.587 30.7406L38.1661 29.1422C38.1002 29.068 38.0192 29.0086 37.9287 28.9679C37.8381 28.9272 37.7399 28.9062 37.6406 28.9062H29.2591C27.6859 28.9062 26.3643 27.6185 26.3911 26.0452C26.4046 25.308 26.7067 24.6056 27.2325 24.0888C27.7583 23.572 28.4659 23.282 29.2031 23.2812H42.5625V21.875H36.9571L42.012 16.9531H49.5938V15.5468H43.4563L46.3742 12.7058C47.7814 11.3356 47.8305 8.94 46.4584 7.52162C45.9522 7.01491 45.3107 6.66465 44.6107 6.51267C43.9107 6.3607 43.1818 6.41344 42.511 6.6646C41.0283 7.24723 40.1116 8.69892 38.9256 9.76714L39.8156 10.8447C40.4923 10.3464 40.9915 9.65007 41.5702 9.04055C42.1489 8.43102 42.8727 7.87802 43.7122 7.81772C44.0765 7.79756 44.4402 7.86728 44.7713 8.02072C45.1023 8.17417 45.3906 8.40664 45.6106 8.69768C45.9413 9.14025 46.1014 9.68721 46.0614 10.2382C46.0215 10.7893 45.7842 11.3074 45.3931 11.6977L34.9414 21.875H29.2031C29.0581 21.8749 28.9133 21.8824 28.769 21.8972L38.7609 11.9053L37.7665 10.9109L33.1306 15.5468H27.8971C26.881 15.544 25.8744 15.7428 24.9356 16.1316C23.9968 16.5204 23.1445 17.0915 22.4279 17.8119L21.0239 19.216L22.0182 20.2105L23.4219 18.8068C24.6088 17.6199 26.2185 16.9531 27.8971 16.9531H31.7244L26.5966 22.0809L18.8993 29.7782C18.6814 30.0005 18.4215 30.1773 18.1348 30.2983C17.848 30.4192 17.54 30.482 17.2287 30.4829C16.8804 30.4803 16.5373 30.3977 16.226 30.2414C15.9147 30.0852 15.6434 29.8595 15.4331 29.5818C15.1939 29.2699 15.0412 28.9004 14.9903 28.5107C14.9425 28.1624 14.9761 27.8078 15.0884 27.4747C15.2008 27.1415 15.3888 26.839 15.6378 26.5908L20.7656 21.4628L19.7716 20.4687L14.6434 25.5965C14.154 26.0857 13.8122 26.7027 13.657 27.3771C13.5019 28.0514 13.5398 28.7558 13.7663 29.4097C13.9928 30.0635 14.3988 30.6404 14.9378 31.0743C15.4769 31.5082 16.1272 31.7815 16.8143 31.8631L7.61218 41.0653C7.54689 41.1305 7.4951 41.2081 7.45976 41.2934C7.42443 41.3787 7.40625 41.4701 7.40625 41.5625V47.8906C7.40625 48.0767 7.48005 48.2552 7.61148 48.387C7.7429 48.5189 7.92122 48.5932 8.10735 48.5937C9.76116 48.5985 11.3995 48.2751 12.9274 47.6423C14.4554 47.0096 15.8427 46.08 17.0089 44.9074L20.5597 41.3566C20.625 41.2913 20.6768 41.2138 20.7121 41.1285C20.7475 41.0431 20.7656 40.9517 20.7656 40.8593V37.6404L21.4978 36.9275C21.609 37.819 22.0421 38.6391 22.7155 39.2337C23.389 39.8283 24.2565 40.1563 25.1549 40.1562H25.7271C25.6505 40.6797 25.6874 41.2136 25.8355 41.7215C25.9836 42.2294 26.2393 42.6995 26.5853 43.0998C26.9312 43.5001 27.3594 43.8211 27.8405 44.0412C28.3217 44.2612 28.8446 44.375 29.3736 44.375C29.566 44.3748 29.7581 44.3596 29.9481 44.3293C29.9203 44.512 29.9063 44.6965 29.9062 44.8812V44.9023C29.9062 46.8897 31.4781 48.5593 33.4652 48.593C33.9834 48.6022 34.4975 48.4999 34.9728 48.2932C35.448 48.0865 35.8734 47.7801 36.22 47.3948L38.3531 45.0248L37.3078 44.0844L35.1754 46.4535ZM19.572 36.84C19.5047 36.9055 19.4512 36.9838 19.4147 37.0703C19.3782 37.1569 19.3594 37.2498 19.3594 37.3437V40.5681L16.0145 43.9129C14.0943 45.8442 11.531 47.002 8.8125 47.1658V41.8536L25.0066 25.6596C24.9261 26.4407 25.0652 27.2288 25.4084 27.9351C25.7516 28.6413 26.2851 29.2378 26.949 29.6571L19.572 36.84Z" fill="#253746"/>
						<path d="M13.5385 41.6784C12.5051 42.5845 11.3008 43.2746 9.99646 43.7078L10.4412 45.042C11.9227 44.5498 13.2907 43.766 14.4646 42.7367L18.4162 39.2791L17.4902 38.2207L13.5385 41.6784Z" fill="#253746"/>
					</svg>
					| Хирургия
					span.services-link__button
						<svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.90254 11.3466L17.5648 11.3466L12.4486 16.4379C11.8778 17.0061 11.8756 17.9294 12.4437 18.5003C13.0119 19.0712 13.9353 19.0734 14.5062 18.5053L22.1263 10.9219C22.6957 10.3538 22.6988 9.42605 22.1277 8.85599L14.5063 1.27127C13.9355 0.703246 13.0121 0.705215 12.4439 1.27623C11.8757 1.84709 11.8779 2.77043 12.4488 3.3386L17.5648 8.42994L2.90254 8.42993C2.0971 8.42993 1.44421 9.08283 1.44421 9.88827C1.44421 10.6937 2.0971 11.3466 2.90254 11.3466Z" fill="#253746" stroke="white"/>
						</svg>
				hr.services__divider
				a(href="#").services-link
					<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M48.643 23.0107C48.6704 22.9533 48.6914 22.8933 48.7058 22.8311C49.1906 20.7396 48.2049 19.3351 47.3559 18.6697C47.1632 17.1011 45.6846 16.0976 44.4744 15.6131C44.3511 14.1355 43.7901 12.9356 42.8017 12.0398C41.184 10.5742 38.8662 10.3764 37.7329 10.3764C37.7212 10.3764 37.7099 10.3764 37.6982 10.3764C36.5941 8.4892 34.0676 8.40199 32.5944 8.67562C31.7303 8.38037 30.8589 8.14553 30.0016 7.97628C29.5241 7.88221 29.0596 8.19257 28.9651 8.67082C28.8707 9.14872 29.1818 9.61289 29.66 9.7073C30.5111 9.87553 31.3797 10.1155 32.2404 10.4207C32.4001 10.4777 32.5724 10.487 32.7372 10.4482C32.7667 10.4413 35.6785 9.7794 36.317 11.5767C36.4526 11.9574 36.831 12.1971 37.2334 12.1593C37.2612 12.1566 40.04 11.9125 41.622 13.3524C42.1786 13.8591 42.5222 14.5128 42.6626 15.3357C41.4724 15.3927 39.6157 15.8109 38.6492 17.7246C38.4295 18.1595 38.6036 18.69 39.0385 18.91C39.1663 18.9742 39.3022 19.0048 39.4358 19.0048C39.7581 19.0048 40.0689 18.8276 40.224 18.5204C41.0377 16.9102 43.0595 17.0719 43.4265 17.1158C43.7527 17.223 45.6873 17.9127 45.6094 19.0951C45.5864 19.4453 45.7731 19.7759 46.0852 19.9369C46.0883 19.9383 46.4014 20.1144 46.673 20.4842C47.0297 20.9696 47.1468 21.566 47.0225 22.2588L46.9631 22.3378C45.5936 22.4881 43.534 23.3499 43.2528 25.8973C43.1996 26.3818 43.5488 26.8178 44.0332 26.8713C44.0661 26.8748 44.0988 26.8765 44.131 26.8765C44.5749 26.8765 44.9571 26.5424 45.0068 26.091C45.185 24.4767 46.5714 24.1557 47.1691 24.0925C51.0352 26.9283 48.3062 33.5417 48.1256 33.9657C47.1684 35.7956 45.9671 36.7319 44.4613 36.8174C43.8159 36.278 42.126 35.0788 39.1728 34.3712C38.6987 34.2576 38.2225 34.5497 38.1088 35.0235C37.9955 35.4976 38.2874 35.9738 38.7615 36.0871C41.2849 36.6917 42.7255 37.6849 43.2569 38.112C43.2501 38.3541 43.2181 38.5934 43.1594 38.8258C42.5318 41.319 39.1573 42.6267 35.6369 41.7403C35.0543 41.5933 34.4899 41.3911 33.9594 41.1388C33.6985 41.0145 33.3933 41.0261 33.1423 41.1697C32.8917 41.3128 32.7269 41.5703 32.7015 41.858C32.6006 43.0002 32.6497 44.1006 32.8467 45.1409L30.53 45.5261C30.4311 45.1752 30.3319 44.7649 30.2244 44.3189C29.7067 42.1749 28.959 39.0819 26.7603 36.5441C28.5906 36.0984 30.3515 35.8042 32.0111 35.6679C32.4969 35.6281 32.8584 35.202 32.8182 34.7166C32.7784 34.2308 32.352 33.8699 31.8669 33.9094C29.6734 34.0893 27.3217 34.5281 24.8758 35.213C22.6336 35.5165 21.0632 35.395 20.8875 35.3795C17.0629 34.8048 15.9948 32.4939 16.2433 30.687C16.2832 30.3976 16.1771 30.1071 15.9601 29.9114C15.7431 29.7158 15.4438 29.6402 15.1598 29.7096L14.5202 29.8661C13.4048 29.8109 10.6166 29.379 9.36181 27.9178C8.81661 27.2826 8.60787 26.5156 8.72426 25.5729C8.76889 25.209 8.58418 24.8553 8.26009 24.6847C8.25631 24.6827 7.88072 24.4564 7.78836 24.0578C7.6785 23.583 7.9971 23.0145 8.28378 22.6214C8.45716 22.3834 8.50041 22.0744 8.39913 21.7981C8.39227 21.7795 7.74167 19.9026 8.48462 18.3446C8.89798 17.4777 9.69037 16.8384 10.8402 16.445C11.1732 16.331 11.4059 16.0361 11.4334 15.6852C11.4344 15.6739 11.5467 14.555 12.3618 13.9473C12.9248 13.5278 13.7371 13.4203 14.7756 13.628C15.0112 13.6747 15.2553 13.6243 15.4523 13.4873C15.6494 13.3503 15.7823 13.1391 15.82 12.9019C15.8231 12.8827 16.2183 11.0466 19.6608 10.9814C20.183 11.6945 21.3352 13.568 20.4803 15.2465C20.2592 15.6808 20.4322 16.2122 20.8662 16.4333C20.9946 16.4986 21.1312 16.5295 21.2658 16.5295C21.5872 16.5295 21.8972 16.3533 22.053 16.0474C22.371 15.4229 22.5172 14.7967 22.5474 14.1921C23.0236 13.9896 23.7652 13.7719 24.3571 13.948C24.7419 14.062 25.0379 14.3415 25.2621 14.8015C25.4148 15.1153 25.729 15.2976 26.0562 15.2976C26.1856 15.2976 26.3174 15.2688 26.4421 15.208C26.8801 14.9948 27.0621 14.4664 26.8486 14.0284C26.4081 13.1247 25.7204 12.5119 24.8594 12.2561C23.9423 11.9839 23.0092 12.1576 22.3188 12.3904C22.0884 11.6028 21.7262 10.9185 21.4076 10.4149C21.823 10.234 22.384 10.0232 23.0748 9.84154C23.5461 9.71795 23.828 9.23524 23.7041 8.7642C23.5801 8.29247 23.0974 8.01129 22.6264 8.13489C21.2318 8.50121 20.2764 8.97775 19.8527 9.21429C16.2791 9.21498 14.8975 10.7761 14.3774 11.7868C13.1459 11.6704 12.1087 11.9255 11.2861 12.5479C10.3272 13.2734 9.93447 14.3174 9.77654 14.9622C8.42076 15.53 7.45157 16.4107 6.89161 17.5848C6.07897 19.2894 6.39208 21.1234 6.60665 21.9539C6.06695 22.8249 5.88602 23.665 6.06935 24.4561C6.22453 25.1269 6.60802 25.5935 6.93109 25.8826C6.89023 27.1048 7.25622 28.1742 8.02285 29.0672C9.92348 31.2799 13.7117 31.5893 14.4598 31.6291C14.6524 34.0897 16.5256 36.5176 20.6523 37.1284C20.6653 37.1305 20.6787 37.1322 20.6921 37.1336C20.7288 37.1373 21.1858 37.182 21.9579 37.182C22.659 37.182 23.621 37.1449 24.7639 37.0062C27.1981 39.3071 27.953 42.4296 28.5089 44.733C28.7114 45.5714 28.8862 46.2958 29.1141 46.854C29.2511 47.1898 29.5769 47.4027 29.9306 47.4027C29.9786 47.4027 30.027 47.3989 30.0758 47.3906L34.0683 46.7263C34.3168 46.6848 34.5359 46.5392 34.6701 46.326C34.8044 46.1128 34.8411 45.8522 34.7707 45.6102C34.553 44.8593 34.4349 44.0597 34.4174 43.2213C34.6763 43.3079 34.9396 43.3844 35.2057 43.4514C37.3223 43.9842 39.4773 43.8685 41.2743 43.1252C43.1618 42.3445 44.439 40.9705 44.8705 39.2567C44.9299 39.0198 44.9715 38.7788 44.9962 38.5353C46.5024 38.3259 48.3154 37.4295 49.7056 34.7519C49.7138 34.7361 49.7213 34.7204 49.7285 34.7042C49.7667 34.6187 50.6658 32.5773 50.9288 30.0879C51.2536 27.0114 50.4653 24.5858 48.643 23.0107Z" fill="#253746"/>
						<path d="M26.5241 20.418C26.5334 20.4691 26.7628 21.6852 27.6063 22.8786C27.8075 23.1632 28.054 23.4605 28.352 23.7455C28.1934 24.6518 26.807 25.1479 26.7744 25.1593C26.3144 25.3162 26.0679 25.8157 26.2231 26.2764C26.3473 26.6448 26.6907 26.8772 27.059 26.8772C27.1528 26.8772 27.2479 26.8621 27.3413 26.8305C28.157 26.5555 29.3421 25.8706 29.8664 24.7699C30.5523 25.0796 31.3794 25.2801 32.3726 25.2801C32.4358 25.2801 32.5 25.2791 32.5646 25.2777C33.0517 25.265 33.4366 24.8602 33.4239 24.373C33.4119 23.8934 33.0195 23.513 32.5422 23.513C32.5347 23.513 32.5271 23.5134 32.5196 23.5134C28.9792 23.6023 28.2892 20.2518 28.2593 20.098C28.1704 19.6204 27.7117 19.3039 27.2335 19.3918C26.7542 19.479 26.4366 19.9387 26.5241 20.418Z" fill="#253746"/>
						<path d="M37.281 28.1653C38.8129 25.4885 38.208 23.4186 37.431 22.1534C36.6101 20.8176 35.4274 20.1138 35.3776 20.0846C34.9584 19.8388 34.4218 19.9788 34.1739 20.3963C33.9261 20.8141 34.0644 21.3545 34.4809 21.6045C34.4898 21.6096 35.3752 22.1479 35.9575 23.1271C36.6925 24.3631 36.6222 25.7631 35.7491 27.2888C35.5071 27.7118 35.654 28.2508 36.077 28.4929C36.215 28.5722 36.3657 28.6096 36.514 28.6096C36.8206 28.6096 37.1179 28.4503 37.281 28.1653Z" fill="#253746"/>
						<path d="M46.6336 30.2277C47.0301 29.9445 47.1221 29.3935 46.8389 28.9969C46.5557 28.6004 46.0046 28.5084 45.6081 28.7916C44.7477 29.4062 43.965 29.6372 43.2814 29.4779C42.2514 29.2386 41.6664 28.1812 41.6527 28.1565C41.4261 27.7277 40.8957 27.5622 40.4648 27.7867C40.0326 28.0123 39.865 28.5451 40.0906 28.977C40.1252 29.0433 40.8898 30.478 42.4166 31.0548C42.1433 32.1342 41.9692 34.039 43.5643 35.3728C43.7294 35.5108 43.9299 35.5784 44.1298 35.5784C44.3821 35.5784 44.6324 35.4706 44.8071 35.2622C45.1196 34.8883 45.0701 34.3318 44.6962 34.019C43.7226 33.2047 43.9962 31.8685 44.1881 31.2635C44.985 31.166 45.8034 30.8207 46.6336 30.2277Z" fill="#253746"/>
						<path d="M20.6568 24.5612C20.5957 24.0778 20.1542 23.7361 19.6704 23.7969C19.187 23.858 18.8447 24.2999 18.9062 24.7833C19.0593 25.9907 18.1121 26.8696 17.5511 27.2772C16.139 26.5782 14.5577 26.8446 14.479 26.8583C14.0008 26.9428 13.6825 27.398 13.7649 27.8766C13.8473 28.3552 14.3033 28.6769 14.7822 28.5969C14.7973 28.5942 16.2866 28.3555 17.1779 29.128C17.6867 29.5692 17.9329 30.307 17.9092 31.3208C17.8978 31.808 18.2837 32.2121 18.7709 32.2234C18.7778 32.2238 18.7846 32.2238 18.7919 32.2238C19.2694 32.2238 19.6622 31.8423 19.6735 31.362C19.7013 30.1755 19.4486 29.1991 18.9216 28.4465C19.7865 27.7286 20.893 26.424 20.6568 24.5612Z" fill="#253746"/>
						<path d="M12.3594 19.9356C12.2636 20.1649 12.118 20.3702 11.9343 20.557C11.4558 21.0449 10.8549 21.2261 10.8323 21.233C10.3654 21.3624 10.0897 21.8445 10.216 22.3131C10.3221 22.7065 10.6785 22.9657 11.0671 22.9657C11.1433 22.9657 11.2206 22.9558 11.2978 22.9348C11.3534 22.9197 12.4617 22.6104 13.3176 21.6587C13.9067 22.0961 14.5989 22.3244 15.3573 22.3244C15.5684 22.3244 15.7844 22.3069 16.0048 22.2712C17.0045 22.1102 17.7533 21.6388 17.8354 21.5856C18.2443 21.3205 18.361 20.7743 18.0959 20.3654C17.8309 19.9565 17.2847 19.8398 16.8754 20.1048C16.8706 20.1079 16.357 20.4269 15.7243 20.5292C15.0884 20.6318 14.5865 20.487 14.1728 20.0763C14.3726 19.3159 14.3486 18.4686 14.0976 17.5447C13.9702 17.0743 13.4858 16.7966 13.0151 16.9243C12.5448 17.052 12.267 17.5365 12.3947 18.0068C12.5973 18.7539 12.5918 19.3787 12.3759 19.8971C12.3704 19.9098 12.3649 19.9225 12.3594 19.9356Z" fill="#253746"/>
						<path d="M33.0084 12.4297C31.5181 11.5457 29.8052 12.0023 29.7331 12.0222C29.2635 12.1516 28.9874 12.6374 29.1169 13.1071C29.246 13.5768 29.7324 13.8524 30.2018 13.7237C30.2121 13.7206 31.2695 13.4497 32.1079 13.9472C32.6067 14.2431 32.9511 14.7832 33.132 15.5519C33.2278 15.9584 33.59 16.2323 33.9903 16.2323C34.0573 16.2323 34.1249 16.2244 34.1929 16.2087C34.6674 16.0971 34.9616 15.6219 34.8497 15.1478C34.5547 13.8943 33.9354 12.9797 33.0084 12.4297Z" fill="#253746"/>
						<path d="M29.8113 29.0658C29.1827 30.1459 28.2742 30.7244 27.1117 30.7851C26.1779 30.8335 25.4082 30.5324 25.3893 30.5245C24.9395 30.3405 24.4259 30.5548 24.2402 31.0038C24.0538 31.4543 24.2677 31.9703 24.7178 32.1564C24.8214 32.1993 25.7168 32.5553 26.902 32.5553C26.9748 32.5553 27.0489 32.5539 27.1241 32.5508C28.3838 32.5031 30.1374 32.0135 31.3367 29.9533C31.5818 29.5323 31.439 28.992 31.0177 28.7468C30.5968 28.5017 30.0564 28.6445 29.8113 29.0658Z" fill="#253746"/>
						<path d="M36.2002 34.2406C35.9918 33.9299 35.6018 33.7809 35.2379 33.8791C34.886 33.9735 34.6254 34.2821 34.5883 34.6443C34.5509 35.0103 34.7573 35.3718 35.0893 35.5281C35.413 35.6801 35.8078 35.6208 36.0691 35.3749C36.3815 35.0814 36.4378 34.5956 36.2002 34.2406Z" fill="#253746"/>
						<path d="M25.5282 8.85453C25.6682 9.19373 26.0188 9.4162 26.3851 9.39869C26.7439 9.38118 27.0625 9.14052 27.1778 8.80063C27.2949 8.45696 27.1833 8.06626 26.9028 7.83555C26.6065 7.59179 26.1726 7.56982 25.8536 7.78336C25.5086 8.01442 25.3692 8.46966 25.5282 8.85453Z" fill="#253746"/>
					</svg>
					| Неврология
					span.services-link__button
						<svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.90254 11.3466L17.5648 11.3466L12.4486 16.4379C11.8778 17.0061 11.8756 17.9294 12.4437 18.5003C13.0119 19.0712 13.9353 19.0734 14.5062 18.5053L22.1263 10.9219C22.6957 10.3538 22.6988 9.42605 22.1277 8.85599L14.5063 1.27127C13.9355 0.703246 13.0121 0.705215 12.4439 1.27623C11.8757 1.84709 11.8779 2.77043 12.4488 3.3386L17.5648 8.42994L2.90254 8.42993C2.0971 8.42993 1.44421 9.08283 1.44421 9.88827C1.44421 10.6937 2.0971 11.3466 2.90254 11.3466Z" fill="#253746" stroke="white"/>
						</svg>
				hr.services__divider
				a(href="#").services-link
					<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M3.00687 28C3.01444 28.0262 3.02902 28.0712 3.05659 28.1375C3.11808 28.2853 3.2211 28.4846 3.37529 28.7341C3.68293 29.232 4.15469 29.8662 4.78467 30.5926C6.04216 32.0426 7.87946 33.8019 10.1605 35.5017C12.0263 36.8922 14.1704 38.2292 16.5193 39.3252C13.617 36.4289 11.8214 32.4242 11.8214 28C11.8214 23.5758 13.6171 19.5711 16.5193 16.6747C14.1704 17.7707 12.0263 19.1078 10.1604 20.4983C7.87943 22.1981 6.04214 23.9574 4.78465 25.4074C4.15468 26.1338 3.68293 26.768 3.37529 27.2659C3.2211 27.5154 3.11808 27.7147 3.05659 27.8625C3.02902 27.9288 3.01444 27.9738 3.00687 28ZM27.8214 12C20.3977 12 13.7356 15.3398 8.96537 18.8946C6.57363 20.6769 4.62947 22.5337 3.27369 24.0971C2.59702 24.8773 2.05419 25.5991 1.67391 26.2146C1.48414 26.5217 1.32485 26.8183 1.21004 27.0943C1.10284 27.3519 1 27.6713 1 28C1 28.3287 1.10284 28.6481 1.21004 28.9057C1.32485 29.1817 1.48414 29.4783 1.67391 29.7854C2.0542 30.4009 2.59704 31.1227 3.2737 31.9029C4.62949 33.4663 6.57367 35.3231 8.96541 37.1054C13.7356 40.6602 20.3978 44 27.8214 44C35.2451 44 41.9072 40.6602 46.6774 37.1054C49.0692 35.3231 51.0134 33.4663 52.3692 31.9029C53.0458 31.1227 53.5887 30.4009 53.9689 29.7854C54.1587 29.4783 54.318 29.1817 54.4328 28.9057C54.54 28.6481 54.6429 28.3287 54.6429 28C54.6429 27.6713 54.54 27.3519 54.4328 27.0943C54.318 26.8183 54.1587 26.5217 53.969 26.2146C53.5887 25.5991 53.0458 24.8773 52.3692 24.0971C51.0134 22.5337 49.0692 20.6769 46.6775 18.8946C41.9073 15.3398 35.2451 12 27.8214 12ZM27.8214 14C20.0894 14 13.8214 20.268 13.8214 28C13.8214 35.732 20.0894 42 27.8214 42C35.5534 42 41.8214 35.732 41.8214 28C41.8214 20.268 35.5534 14 27.8214 14ZM39.1236 39.3252C42.0258 36.4289 43.8214 32.4242 43.8214 28C43.8214 23.5758 42.0258 19.5711 39.1236 16.6747C41.4724 17.7707 43.6166 19.1078 45.4824 20.4983C47.7634 22.1981 49.6007 23.9574 50.8582 25.4074C51.4882 26.1338 51.9599 26.768 52.2676 27.2659C52.4218 27.5154 52.5248 27.7147 52.5863 27.8625C52.6138 27.9288 52.6284 27.9738 52.636 28C52.6284 28.0262 52.6138 28.0712 52.5863 28.1375C52.5248 28.2853 52.4218 28.4846 52.2676 28.7341C51.9599 29.232 51.4882 29.8662 50.8582 30.5926C49.6007 32.0426 47.7634 33.8019 45.4824 35.5017C43.6165 36.8922 41.4724 38.2292 39.1236 39.3252ZM28.4885 18.6836L27.8214 19.4286L27.1543 18.6836C27.5341 18.3436 28.1088 18.3436 28.4885 18.6836ZM27.8214 36.5714C27.1543 37.3164 27.1541 37.3162 27.1539 37.316L27.1518 37.3141L27.1476 37.3104L27.1348 37.2987C27.1242 37.289 27.1097 37.2756 27.0914 37.2586C27.0549 37.2246 27.0035 37.176 26.9394 37.1135C26.8113 36.9887 26.6318 36.8081 26.4182 36.5774C25.9918 36.1171 25.4243 35.4523 24.8558 34.6293C23.7318 33.0021 22.5357 30.658 22.5357 28C22.5357 25.342 23.7318 22.9979 24.8558 21.3707C25.4243 20.5477 25.9918 19.8829 26.4182 19.4226C26.6318 19.1919 26.8113 19.0113 26.9394 18.8865C27.0035 18.824 27.0549 18.7754 27.0914 18.7414C27.1097 18.7244 27.1242 18.711 27.1348 18.7013L27.1476 18.6896L27.1518 18.6859L27.1533 18.6846C27.1535 18.6843 27.1543 18.6836 27.8214 19.4286C28.4885 18.6836 28.4883 18.6834 28.4885 18.6836L28.4911 18.6859L28.4952 18.6896L28.5081 18.7013C28.5126 18.7054 28.5178 18.7102 28.5237 18.7156C28.5317 18.723 28.5409 18.7316 28.5515 18.7414C28.588 18.7754 28.6393 18.824 28.7034 18.8865C28.8316 19.0113 29.011 19.1919 29.2247 19.4226C29.6511 19.8829 30.2185 20.5477 30.7871 21.3707C31.911 22.9979 33.1071 25.342 33.1071 28C33.1071 30.658 31.911 33.0021 30.7871 34.6293C30.2185 35.4523 29.6511 36.1171 29.2247 36.5774C29.011 36.8081 28.8316 36.9887 28.7034 37.1135C28.6393 37.176 28.588 37.2246 28.5515 37.2586C28.5332 37.2756 28.5186 37.289 28.5081 37.2987L28.4952 37.3104L28.4911 37.3141L28.4896 37.3154C28.4893 37.3157 28.4885 37.3164 27.8214 36.5714ZM27.8214 36.5714L27.1539 37.316C27.5336 37.656 28.1088 37.6564 28.4885 37.3164L27.8214 36.5714ZM27.8214 35.1488C28.1906 34.7451 28.6665 34.1802 29.1415 33.4926C30.1604 32.0175 31.1071 30.0759 31.1071 28C31.1071 25.9241 30.1604 23.9825 29.1415 22.5074C28.6665 21.8198 28.1906 21.2549 27.8214 20.8512C27.4523 21.2549 26.9763 21.8198 26.5014 22.5074C25.4824 23.9825 24.5357 25.9241 24.5357 28C24.5357 30.0759 25.4824 32.0175 26.5014 33.4926C26.9763 34.1802 27.4523 34.7451 27.8214 35.1488Z" fill="#253746"/>
					</svg>
					| Офтальмология
					span.services-link__button
						<svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.90254 11.3466L17.5648 11.3466L12.4486 16.4379C11.8778 17.0061 11.8756 17.9294 12.4437 18.5003C13.0119 19.0712 13.9353 19.0734 14.5062 18.5053L22.1263 10.9219C22.6957 10.3538 22.6988 9.42605 22.1277 8.85599L14.5063 1.27127C13.9355 0.703246 13.0121 0.705215 12.4439 1.27623C11.8757 1.84709 11.8779 2.77043 12.4488 3.3386L17.5648 8.42994L2.90254 8.42993C2.0971 8.42993 1.44421 9.08283 1.44421 9.88827C1.44421 10.6937 2.0971 11.3466 2.90254 11.3466Z" fill="#253746" stroke="white"/>
						</svg>
				hr.services__divider
				a(href="#").services-link
					<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M37.4189 10.679C35.3602 7.93394 32.129 6.31842 28.6977 6.31842H28.3023C24.8709 6.31842 21.6399 7.93394 19.5812 10.679L19.5808 10.6794C18.9541 11.5151 18.6152 12.5315 18.6152 13.5762V19.0273C18.6152 24.4866 23.0408 28.9121 28.5 28.9121C33.9593 28.9121 38.3848 24.4866 38.3848 19.0273V13.5762C38.3848 12.5315 38.0459 11.5151 37.4192 10.6794L37.4189 10.679Z" stroke="#253746" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M18.6152 17.6152H18.6154C19.5195 17.6152 20.3865 17.256 21.0258 16.6169C21.8384 15.8042 22.8516 14.791 22.8516 14.791H22.8517C26.4074 16.569 30.5926 16.569 34.1483 14.791H34.1484C34.1484 14.791 35.1615 15.8042 35.9742 16.6169C36.6135 17.256 37.4806 17.6152 38.3846 17.6152H38.3848" stroke="#253746" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M49.6816 48.6817C49.6816 48.6817 47.9578 43.5103 46.7095 39.7652C45.9252 37.4124 43.9639 35.6436 41.5429 35.1055C37.8073 34.2754 32.7363 33.1485 32.7363 33.1485L28.5 40.209L24.2637 33.1485C24.2637 33.1485 19.1927 34.2754 15.4571 35.1055C13.0361 35.6436 11.0748 37.4124 10.2905 39.7652C9.04216 43.5103 7.31836 48.6817 7.31836 48.6817" stroke="#253746" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M24.2637 33.1484V28.1787" stroke="#253746" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M32.7363 33.1484V28.1787" stroke="#253746" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M35.5606 48.6816H34.1484V44.4453C34.1484 43.3218 34.5947 42.2443 35.3893 41.4498C36.1837 40.6553 37.2613 40.209 38.3848 40.209C40.7244 40.209 42.6211 42.1057 42.6211 44.4453V48.6816H41.209" stroke="#253746" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M38.3848 38.7969V34.4037" stroke="#253746" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M18.6152 43.0332C17.0565 43.0332 15.791 44.2987 15.791 45.8574C15.791 47.4162 17.0565 48.6817 18.6152 48.6817C20.1739 48.6817 21.4394 47.4162 21.4394 45.8574C21.4394 44.2987 20.1739 43.0332 18.6152 43.0332Z" stroke="#253746" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M18.6152 43.0332V34.4036" stroke="#253746" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					| Терапия
					span.services-link__button
						<svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.90254 11.3466L17.5648 11.3466L12.4486 16.4379C11.8778 17.0061 11.8756 17.9294 12.4437 18.5003C13.0119 19.0712 13.9353 19.0734 14.5062 18.5053L22.1263 10.9219C22.6957 10.3538 22.6988 9.42605 22.1277 8.85599L14.5063 1.27127C13.9355 0.703246 13.0121 0.705215 12.4439 1.27623C11.8757 1.84709 11.8779 2.77043 12.4488 3.3386L17.5648 8.42994L2.90254 8.42993C2.0971 8.42993 1.44421 9.08283 1.44421 9.88827C1.44421 10.6937 2.0971 11.3466 2.90254 11.3466Z" fill="#253746" stroke="white"/>
						</svg>
				hr.services__divider
				a(href="#").services-link
					<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M31.5175 11.6209C30.9926 11.0953 30.2958 10.8065 29.5527 10.8065C28.021 10.8065 26.7742 12.0525 26.7742 13.5856C26.7742 14.3274 27.063 15.0249 27.5879 15.5504L27.9253 15.8871L7.3167 36.4957C5.82291 37.9895 5 39.9759 5 42.0895C5 46.4507 8.54929 50 12.9105 50C15.0234 50 17.0098 49.1771 18.5043 47.6833L39.1129 27.0747L39.4503 27.4114C39.9752 27.937 40.6719 28.2258 41.4151 28.2258C42.9468 28.2258 44.1936 26.9797 44.1936 25.4466C44.1936 24.7049 43.9047 24.0074 43.3799 23.4818L31.5175 11.6209ZM17.478 46.657C16.2589 47.8765 14.6357 48.5484 12.9105 48.5484C9.34917 48.5484 6.45161 45.6508 6.45161 42.0895C6.45161 40.3643 7.12355 38.7419 8.34303 37.522L11.8328 34.0323H30.1027L17.478 46.657ZM41.4151 26.7742C41.066 26.7742 40.7243 26.6328 40.4766 26.3851L39.1129 25.0221L31.5543 32.5807H13.2844L15.8871 29.978L17.5513 31.6422L18.5777 30.6159L16.9134 28.9516L18.0645 27.8005L21.1804 30.9164L22.2067 29.8901L19.0909 26.7742L20.2419 25.6231L21.9062 27.2874L22.9325 26.261L21.2683 24.5968L22.4194 23.4457L25.5352 26.5616L26.5616 25.5352L23.4457 22.4194L24.5968 21.2683L26.261 22.9325L27.2874 21.9062L25.6231 20.2419L26.7742 19.0909L29.8901 22.2067L30.9164 21.1804L27.8005 18.0645L28.9516 16.9141L36.4223 24.3841L37.4487 23.3578L28.6142 14.5241C28.3637 14.2728 28.2258 13.9397 28.2258 13.5856C28.2258 12.8531 28.8208 12.2581 29.5527 12.2581C29.9018 12.2581 30.2434 12.3995 30.4911 12.6472L42.3535 24.5082C42.6041 24.7594 42.7419 25.0926 42.7419 25.4466C42.7419 26.1792 42.1469 26.7742 41.4151 26.7742Z" fill="#253746"/>
						<path d="M47.0966 12.9839C45.4954 12.9839 44.1934 14.2859 44.1934 15.8871C44.1934 17.4883 45.4954 18.7903 47.0966 18.7903C48.6978 18.7903 49.9998 17.4883 49.9998 15.8871C49.9998 14.2859 48.6978 12.9839 47.0966 12.9839ZM47.0966 17.3387C46.296 17.3387 45.645 16.6877 45.645 15.8871C45.645 15.0865 46.296 14.4355 47.0966 14.4355C47.8972 14.4355 48.5482 15.0865 48.5482 15.8871C48.5482 16.6877 47.8972 17.3387 47.0966 17.3387Z" fill="#253746"/>
						<path d="M36.2096 11.5323C37.41 11.5323 38.3871 10.5552 38.3871 9.35485C38.3871 8.1545 37.41 7.17743 36.2096 7.17743C35.0093 7.17743 34.0322 8.1545 34.0322 9.35485C34.0322 10.5552 35.0093 11.5323 36.2096 11.5323ZM36.2096 8.62904C36.6101 8.62904 36.9355 8.95509 36.9355 9.35485C36.9355 9.75461 36.6101 10.0807 36.2096 10.0807C35.8092 10.0807 35.4838 9.75461 35.4838 9.35485C35.4838 8.95509 35.8092 8.62904 36.2096 8.62904Z" fill="#253746"/>
						<path d="M44.9191 9.35484C46.1195 9.35484 47.0965 8.37776 47.0965 7.17742C47.0965 5.97707 46.1195 5 44.9191 5C43.7188 5 42.7417 5.97707 42.7417 7.17742C42.7417 8.37776 43.7188 9.35484 44.9191 9.35484ZM44.9191 6.45161C45.3196 6.45161 45.6449 6.77766 45.6449 7.17742C45.6449 7.57718 45.3196 7.90323 44.9191 7.90323C44.5186 7.90323 44.1933 7.57718 44.1933 7.17742C44.1933 6.77766 44.5186 6.45161 44.9191 6.45161Z" fill="#253746"/>
						<path d="M14.4354 38.3871C14.4354 37.1867 13.4583 36.2097 12.258 36.2097C11.0576 36.2097 10.0806 37.1867 10.0806 38.3871C10.0806 39.5874 11.0576 40.5645 12.258 40.5645C13.4583 40.5645 14.4354 39.5874 14.4354 38.3871ZM11.5322 38.3871C11.5322 37.9873 11.8575 37.6613 12.258 37.6613C12.6585 37.6613 12.9838 37.9873 12.9838 38.3871C12.9838 38.7868 12.6585 39.1129 12.258 39.1129C11.8575 39.1129 11.5322 38.7868 11.5322 38.3871Z" fill="#253746"/>
						<path d="M20.2419 36.2097C19.0415 36.2097 18.0645 37.1867 18.0645 38.3871C18.0645 39.5874 19.0415 40.5645 20.2419 40.5645C21.4422 40.5645 22.4193 39.5874 22.4193 38.3871C22.4193 37.1867 21.4422 36.2097 20.2419 36.2097ZM20.2419 39.1129C19.8414 39.1129 19.5161 38.7868 19.5161 38.3871C19.5161 37.9873 19.8414 37.6613 20.2419 37.6613C20.6423 37.6613 20.9677 37.9873 20.9677 38.3871C20.9677 38.7868 20.6423 39.1129 20.2419 39.1129Z" fill="#253746"/>
						<path d="M13.7096 42.7419C12.5093 42.7419 11.5322 43.719 11.5322 44.9194C11.5322 46.1197 12.5093 47.0968 13.7096 47.0968C14.91 47.0968 15.8871 46.1197 15.8871 44.9194C15.8871 43.719 14.91 42.7419 13.7096 42.7419ZM13.7096 45.6452C13.3092 45.6452 12.9838 45.3191 12.9838 44.9194C12.9838 44.5196 13.3092 44.1936 13.7096 44.1936C14.1101 44.1936 14.4355 44.5196 14.4355 44.9194C14.4355 45.3191 14.1101 45.6452 13.7096 45.6452Z" fill="#253746"/>
					</svg>
					| Лаборатория
					span.services-link__button
						<svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.90254 11.3466L17.5648 11.3466L12.4486 16.4379C11.8778 17.0061 11.8756 17.9294 12.4437 18.5003C13.0119 19.0712 13.9353 19.0734 14.5062 18.5053L22.1263 10.9219C22.6957 10.3538 22.6988 9.42605 22.1277 8.85599L14.5063 1.27127C13.9355 0.703246 13.0121 0.705215 12.4439 1.27623C11.8757 1.84709 11.8779 2.77043 12.4488 3.3386L17.5648 8.42994L2.90254 8.42993C2.0971 8.42993 1.44421 9.08283 1.44421 9.88827C1.44421 10.6937 2.0971 11.3466 2.90254 11.3466Z" fill="#253746" stroke="white"/>
						</svg>
				//- hr.services__divider
				a(href="#").services-link
					span Все услуги <sup>(18)</sup>
	section.doctors
		.container
			.doctors__header
				.doctors__header-inner
					p.doctors__title Врачи
					.swiper-arrow#doctors-swiper-arrow-prev
						<svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.351557 6.77807C-0.0389669 7.16859 -0.0389666 7.80176 0.351557 8.19228L6.71552 14.5562C7.10604 14.9468 7.73921 14.9468 8.12973 14.5562C8.52026 14.1657 8.52026 13.5326 8.12973 13.142L2.47288 7.48518L8.12973 1.82832C8.52026 1.4378 8.52026 0.804634 8.12973 0.414109C7.73921 0.0235853 7.10604 0.0235846 6.71552 0.414109L0.351557 6.77807ZM18.0292 6.48518L1.05866 6.48518L1.05866 8.48518L18.0292 8.48518L18.0292 6.48518Z" fill="#253746"/>
						</svg>
					.swiper-arrow#doctors-swiper-arrow-next
						<svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M17.707 8.19239C18.0976 7.80186 18.0976 7.1687 17.707 6.77818L11.3431 0.414214C10.9526 0.0236896 10.3194 0.0236896 9.92886 0.414214C9.53834 0.804738 9.53834 1.4379 9.92886 1.82843L15.5857 7.48528L9.92886 13.1421C9.53834 13.5327 9.53834 14.1658 9.92886 14.5563C10.3194 14.9469 10.9526 14.9469 11.3431 14.5563L17.707 8.19239ZM0.0293667 8.48528H16.9999L16.9999 6.48528H0.0293671L0.0293667 8.48528Z" fill="#253746"/>
						</svg>
			.swiper.doctors__row
				.swiper-wrapper
					.swiper-slide.doctor
						.doctor__img-wrapper
							img.doctor__img(src="assets/img/doctor-img-01.jpg", alt="")
						.doctor__col
							p.doctor__title Михеева Ольга Игоревна
							p.doctor__text Главный врач сети ветеринарных клиник Vet Union, терапевт, УЗ-диагност, репродуктолог-неонатолог
							p.doctor__address
								<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7 13.6085C5.35938 11.2594 2.48828 8.07511 2.48828 5.33452C2.48828 2.95984 4.51224 1.02788 7 1.02788C9.48776 1.02788 11.5117 2.95984 11.5117 5.33452C11.5117 8.07511 8.64062 11.2594 7 13.6085Z" stroke="#333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M7 7.29208C5.86925 7.29208 4.94922 6.41387 4.94922 5.33452C4.94922 4.25517 5.86925 3.37696 7 3.37696C8.13075 3.37696 9.05078 4.25517 9.05078 5.33452C9.05078 6.41387 8.13075 7.29208 7 7.29208Z" stroke="#333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								| Пр-кт Вернадского
					.swiper-slide.doctor
						.doctor__img-wrapper
							img.doctor__img(src="assets/img/doctor-img-02.jpg", alt="")
						.doctor__col
							p.doctor__title Аникина Мария Владимировна
							p.doctor__text Главный врач клиники, дерматолог, онколог, патоморфолог
							p.doctor__address
								<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7 13.6085C5.35938 11.2594 2.48828 8.07511 2.48828 5.33452C2.48828 2.95984 4.51224 1.02788 7 1.02788C9.48776 1.02788 11.5117 2.95984 11.5117 5.33452C11.5117 8.07511 8.64062 11.2594 7 13.6085Z" stroke="#333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M7 7.29208C5.86925 7.29208 4.94922 6.41387 4.94922 5.33452C4.94922 4.25517 5.86925 3.37696 7 3.37696C8.13075 3.37696 9.05078 4.25517 9.05078 5.33452C9.05078 6.41387 8.13075 7.29208 7 7.29208Z" stroke="#333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								| Пр-кт Вернадского
							p.doctor__address
								<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7 13.6085C5.35938 11.2594 2.48828 8.07511 2.48828 5.33452C2.48828 2.95984 4.51224 1.02788 7 1.02788C9.48776 1.02788 11.5117 2.95984 11.5117 5.33452C11.5117 8.07511 8.64062 11.2594 7 13.6085Z" stroke="#333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M7 7.29208C5.86925 7.29208 4.94922 6.41387 4.94922 5.33452C4.94922 4.25517 5.86925 3.37696 7 3.37696C8.13075 3.37696 9.05078 4.25517 9.05078 5.33452C9.05078 6.41387 8.13075 7.29208 7 7.29208Z" stroke="#333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								| Пр-кт Вернадского
					.swiper-slide.doctor
						.doctor__img-wrapper
							button.doctor__video-button(data-review-video="https://vkvideo.ru/video-211437014_456245735")
									<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M6.56311 3.0371L2.26644 0.860434C2.10183 0.766931 1.91576 0.717773 1.72644 0.717773C1.53712 0.717773 1.35105 0.766931 1.18644 0.860434C1.02551 0.970139 0.896387 1.12037 0.812107 1.29595C0.727826 1.47154 0.691377 1.66625 0.70644 1.86043V6.1871C0.69206 6.3812 0.728813 6.57567 0.813035 6.75114C0.897257 6.9266 1.026 7.07692 1.18644 7.1871C1.33521 7.27674 1.5061 7.32293 1.67977 7.32043C1.88436 7.31694 2.08528 7.26557 2.26644 7.17043L6.56311 5.00043C7.19977 4.6671 7.29311 4.25377 7.29311 4.0271C7.29311 3.80043 7.19977 3.36043 6.56311 3.0371ZM6.25977 4.39043L1.96644 6.5671C1.90312 6.60902 1.83041 6.63461 1.7548 6.64159C1.67919 6.64856 1.60303 6.63672 1.53311 6.6071C1.47396 6.55565 1.42841 6.4904 1.4005 6.41714C1.37259 6.34388 1.36318 6.26487 1.37311 6.1871V1.83377C1.36318 1.756 1.37259 1.67699 1.4005 1.60373C1.42841 1.53047 1.47396 1.46522 1.53311 1.41377C1.57394 1.39097 1.61969 1.37839 1.66644 1.3771C1.76692 1.38112 1.86507 1.40851 1.95311 1.4571L6.25977 3.63377C6.48644 3.7471 6.62644 3.89377 6.62644 4.01043C6.62644 4.1271 6.48644 4.27377 6.25977 4.39043Z" fill="white" stroke="white" stroke-width="0.5"/>
									</svg>
							img.doctor__img(src="assets/img/doctor-img-03.jpg", alt="")
						.doctor__col
							p.doctor__title Осипова Катерина Максимовна
							p.doctor__text Главный врач клиники, инфекционист
							p.doctor__address
								<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7 13.6085C5.35938 11.2594 2.48828 8.07511 2.48828 5.33452C2.48828 2.95984 4.51224 1.02788 7 1.02788C9.48776 1.02788 11.5117 2.95984 11.5117 5.33452C11.5117 8.07511 8.64062 11.2594 7 13.6085Z" stroke="#333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M7 7.29208C5.86925 7.29208 4.94922 6.41387 4.94922 5.33452C4.94922 4.25517 5.86925 3.37696 7 3.37696C8.13075 3.37696 9.05078 4.25517 9.05078 5.33452C9.05078 6.41387 8.13075 7.29208 7 7.29208Z" stroke="#333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								| Мневники
					.swiper-slide.doctor
						.doctor__img-wrapper
							img.doctor__img(src="assets/img/doctor-img-03.jpg", alt="")
						.doctor__col
							p.doctor__title Осипова Катерина Максимовна
							p.doctor__text Главный врач клиники, инфекционист
							p.doctor__address
								<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7 13.6085C5.35938 11.2594 2.48828 8.07511 2.48828 5.33452C2.48828 2.95984 4.51224 1.02788 7 1.02788C9.48776 1.02788 11.5117 2.95984 11.5117 5.33452C11.5117 8.07511 8.64062 11.2594 7 13.6085Z" stroke="#333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M7 7.29208C5.86925 7.29208 4.94922 6.41387 4.94922 5.33452C4.94922 4.25517 5.86925 3.37696 7 3.37696C8.13075 3.37696 9.05078 4.25517 9.05078 5.33452C9.05078 6.41387 8.13075 7.29208 7 7.29208Z" stroke="#333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								| Мневники
					.swiper-slide.doctor
						.doctor__img-wrapper
							img.doctor__img(src="assets/img/doctor-img-03.jpg", alt="")
						.doctor__col
							p.doctor__title Осипова Катерина Максимовна
							p.doctor__text Главный врач клиники, инфекционист
							p.doctor__address
								<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7 13.6085C5.35938 11.2594 2.48828 8.07511 2.48828 5.33452C2.48828 2.95984 4.51224 1.02788 7 1.02788C9.48776 1.02788 11.5117 2.95984 11.5117 5.33452C11.5117 8.07511 8.64062 11.2594 7 13.6085Z" stroke="#333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M7 7.29208C5.86925 7.29208 4.94922 6.41387 4.94922 5.33452C4.94922 4.25517 5.86925 3.37696 7 3.37696C8.13075 3.37696 9.05078 4.25517 9.05078 5.33452C9.05078 6.41387 8.13075 7.29208 7 7.29208Z" stroke="#333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								| Мневники
					.swiper-slide.doctor
						.doctor__img-wrapper
							img.doctor__img(src="assets/img/doctor-img-03.jpg", alt="")
						.doctor__col
							p.doctor__title Осипова Катерина Максимовна
							p.doctor__text Главный врач клиники, инфекционист
							p.doctor__address
								<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7 13.6085C5.35938 11.2594 2.48828 8.07511 2.48828 5.33452C2.48828 2.95984 4.51224 1.02788 7 1.02788C9.48776 1.02788 11.5117 2.95984 11.5117 5.33452C11.5117 8.07511 8.64062 11.2594 7 13.6085Z" stroke="#333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M7 7.29208C5.86925 7.29208 4.94922 6.41387 4.94922 5.33452C4.94922 4.25517 5.86925 3.37696 7 3.37696C8.13075 3.37696 9.05078 4.25517 9.05078 5.33452C9.05078 6.41387 8.13075 7.29208 7 7.29208Z" stroke="#333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								| Мневники
				.swiper-pagination.swiper-pagination--doctors
	section.instruction
		.container
			.instruction-left
				.instruction-left__col
					p.instruction-left__title Как подготовить питомца к приему?
					p.instruction-left__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
					a(href="#").button.instruction-left__button Подробнее
				img.instruction-left__img(src="assets/img/instruction-img-01.jpg", alt="")
			.instruction-right
				<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M28 0H15.8667C15.3512 0 14.9333 0.417904 14.9333 0.933333V7.46667H0.933333C0.417904 7.46667 0 7.88457 0 8.4V55.0667C0 55.5821 0.417904 56 0.933333 56H28C28.5154 56 28.9333 55.5821 28.9333 55.0667V0.933333C28.9333 0.417904 28.5154 0 28 0ZM27.0667 48.5333H16.8V46.6667H27.0667V48.5333ZM1.86667 14H14.9333V42H1.86667V14ZM27.0667 10.2667H16.8V7.46667H27.0667V10.2667ZM1.86667 43.8667H14.9333V46.6667H1.86667V43.8667ZM16.8 44.8V12.1333H27.0667V44.8H16.8ZM27.0667 1.86667V5.6H16.8V1.86667H27.0667ZM14.9333 9.33333V12.1333H1.86667V9.33333H14.9333ZM1.86667 48.5333H14.9333V54.1333H1.86667V48.5333ZM16.8 54.1333V50.4H27.0667V54.1333H16.8Z" fill="white"/>
					<path d="M55.97 51.0982L44.77 8.16484C44.7075 7.92421 44.5517 7.71868 44.3366 7.59335C44.1219 7.46848 43.8663 7.4343 43.6261 7.49856L29.6261 11.2319C29.1303 11.3641 28.834 11.8717 28.9635 12.3685L40.1635 55.3018C40.2259 55.5424 40.3822 55.748 40.5973 55.8728C40.812 55.9973 41.0676 56.031 41.3073 55.9663L55.3073 52.2329C55.8023 52.1008 56.098 51.594 55.97 51.0982ZM32.4913 18.4967L44.6879 15.245L45.1268 16.9249L32.931 20.1815L32.4913 18.4967ZM45.598 18.7359L51.0112 39.5003L38.8191 42.7533L33.4059 21.9876L45.598 18.7359ZM51.4865 41.3073L52.4422 44.97L40.2455 48.2216L39.2935 44.5603L51.4865 41.3073ZM43.2004 9.54342L44.2167 13.4399L32.02 16.6906L31.0047 12.796L43.2004 9.54342ZM41.733 53.9232L40.7167 50.0268L52.9134 46.7742L53.9288 50.6689L41.733 53.9232Z" fill="white"/>
					<path d="M12.1334 16.8H4.66673C4.1513 16.8 3.7334 17.2179 3.7334 17.7333V25.2C3.7334 25.7154 4.1513 26.1333 4.66673 26.1333H12.1334C12.6488 26.1333 13.0667 25.7154 13.0667 25.2V17.7333C13.0667 17.2179 12.6488 16.8 12.1334 16.8ZM11.2001 24.2667H5.60007V18.6667H11.2001V24.2667Z" fill="white"/>
				</svg>
				p.instruction-right__title Читай больше полезных материалов в нашей базе знаний
				.instruction-right__tags
					p.instruction-right__tag Чек-листы
					p.instruction-right__tag Tесты
					p.instruction-right__tag Статьи
					p.instruction-right__tag Методички по уходу за питомцами
				a(href="#").button.button--light.instruction-right__button Все материалы
	section.addresses
		.container
			p.addresses__title Адреса клиник
			.addresses__row
				.addresses__list
					.address.active
						.address__header
							p.address__title Профсоюзная, 45
							button.address__open
								<svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6.77831 17.7072C7.16884 18.0977 7.802 18.0977 8.19253 17.7072L14.5565 11.3432C14.947 10.9527 14.947 10.3195 14.5565 9.92898C14.166 9.53846 13.5328 9.53846 13.1423 9.92898L7.48542 15.5858L1.82857 9.92898C1.43804 9.53846 0.804878 9.53846 0.414353 9.92898C0.0238295 10.3195 0.0238287 10.9527 0.414353 11.3432L6.77831 17.7072ZM6.48542 0.0294879L6.48542 17.0001L8.48542 17.0001L8.48542 0.0294885L6.48542 0.0294879Z" fill="#253746"/>
								</svg>
						.address__content-wrapper
							.address__content
								p.address__schedule Ежедневно с 09:00 до 21:00
								a(href="#").address__phone +7 (499) 111-25-99
								.address__buttons
									button(data-modal-open="registrationToReception").address__button.button Записаться на прием
									a(href="#").address__button
										| Как добраться
										<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M9.17364 15.7487C9.06345 15.9065 8.88314 16.0005 8.69069 16.0005C8.49825 16.0005 8.31793 15.9065 8.20774 15.7487C7.84153 15.2244 7.42348 14.6655 6.97949 14.072C6.84582 13.8933 6.7098 13.7115 6.57213 13.5265C5.98177 12.7332 5.36785 11.8907 4.81292 11.0295C3.71744 9.32924 2.78613 7.45998 2.78613 5.66343C2.78613 2.51484 5.46052 0.000488281 8.69069 0.000488281C11.9209 0.000488281 14.5952 2.51484 14.5952 5.66343C14.5952 7.45998 13.6639 9.32924 12.5685 11.0295C12.0135 11.8907 11.3996 12.7332 10.8092 13.5265C10.6717 13.7113 10.5357 13.8931 10.4021 14.0716L10.4019 14.072C9.95792 14.6655 9.53986 15.2243 9.17364 15.7487ZM3.96428 5.66343C3.96428 7.09571 4.72427 8.71666 5.8033 10.3913C6.33563 11.2175 6.92977 12.0337 7.51727 12.8231C7.64992 13.0013 7.78259 13.1787 7.91419 13.3546L7.91482 13.3554L7.91497 13.3556C8.18102 13.7113 8.44265 14.061 8.69069 14.4002C8.93878 14.0609 9.20046 13.7111 9.46656 13.3554L9.46678 13.3551C9.59851 13.179 9.73132 13.0015 9.86411 12.8231C10.4516 12.0337 11.0458 11.2175 11.5781 10.3913C12.6571 8.71666 13.4171 7.09571 13.4171 5.66343C13.4171 3.21656 11.3224 1.17864 8.69069 1.17864C6.05895 1.17864 3.96428 3.21656 3.96428 5.66343ZM8.69069 8.55881C7.05929 8.55881 5.68549 7.28593 5.68549 5.66343C5.68549 4.04094 7.05929 2.76805 8.69069 2.76805C10.3221 2.76805 11.6959 4.04094 11.6959 5.66343C11.6959 7.28593 10.3221 8.55881 8.69069 8.55881ZM6.86364 5.66343C6.86364 6.58421 7.65771 7.38066 8.69069 7.38066C9.72367 7.38066 10.5177 6.58421 10.5177 5.66343C10.5177 4.74266 9.72367 3.9462 8.69069 3.9462C7.65771 3.9462 6.86364 4.74266 6.86364 5.66343Z" fill="#253746"/>
										</svg>
					.address
						.address__header
							p.address__title Проспект Вернадского
							button.address__open
								<svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6.77831 17.7072C7.16884 18.0977 7.802 18.0977 8.19253 17.7072L14.5565 11.3432C14.947 10.9527 14.947 10.3195 14.5565 9.92898C14.166 9.53846 13.5328 9.53846 13.1423 9.92898L7.48542 15.5858L1.82857 9.92898C1.43804 9.53846 0.804878 9.53846 0.414353 9.92898C0.0238295 10.3195 0.0238287 10.9527 0.414353 11.3432L6.77831 17.7072ZM6.48542 0.0294879L6.48542 17.0001L8.48542 17.0001L8.48542 0.0294885L6.48542 0.0294879Z" fill="#253746"/>
								</svg>
						.address__content-wrapper
							.address__content
								p.address__schedule Ежедневно с 09:00 до 21:00
								a(href="#").address__phone +7 (499) 111-25-99
								.address__buttons
									button(data-modal-open="registrationToReception").address__button.button Записаться на прием
									a(href="#").address__button
										| Как добраться
										<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M9.17364 15.7487C9.06345 15.9065 8.88314 16.0005 8.69069 16.0005C8.49825 16.0005 8.31793 15.9065 8.20774 15.7487C7.84153 15.2244 7.42348 14.6655 6.97949 14.072C6.84582 13.8933 6.7098 13.7115 6.57213 13.5265C5.98177 12.7332 5.36785 11.8907 4.81292 11.0295C3.71744 9.32924 2.78613 7.45998 2.78613 5.66343C2.78613 2.51484 5.46052 0.000488281 8.69069 0.000488281C11.9209 0.000488281 14.5952 2.51484 14.5952 5.66343C14.5952 7.45998 13.6639 9.32924 12.5685 11.0295C12.0135 11.8907 11.3996 12.7332 10.8092 13.5265C10.6717 13.7113 10.5357 13.8931 10.4021 14.0716L10.4019 14.072C9.95792 14.6655 9.53986 15.2243 9.17364 15.7487ZM3.96428 5.66343C3.96428 7.09571 4.72427 8.71666 5.8033 10.3913C6.33563 11.2175 6.92977 12.0337 7.51727 12.8231C7.64992 13.0013 7.78259 13.1787 7.91419 13.3546L7.91482 13.3554L7.91497 13.3556C8.18102 13.7113 8.44265 14.061 8.69069 14.4002C8.93878 14.0609 9.20046 13.7111 9.46656 13.3554L9.46678 13.3551C9.59851 13.179 9.73132 13.0015 9.86411 12.8231C10.4516 12.0337 11.0458 11.2175 11.5781 10.3913C12.6571 8.71666 13.4171 7.09571 13.4171 5.66343C13.4171 3.21656 11.3224 1.17864 8.69069 1.17864C6.05895 1.17864 3.96428 3.21656 3.96428 5.66343ZM8.69069 8.55881C7.05929 8.55881 5.68549 7.28593 5.68549 5.66343C5.68549 4.04094 7.05929 2.76805 8.69069 2.76805C10.3221 2.76805 11.6959 4.04094 11.6959 5.66343C11.6959 7.28593 10.3221 8.55881 8.69069 8.55881ZM6.86364 5.66343C6.86364 6.58421 7.65771 7.38066 8.69069 7.38066C9.72367 7.38066 10.5177 6.58421 10.5177 5.66343C10.5177 4.74266 9.72367 3.9462 8.69069 3.9462C7.65771 3.9462 6.86364 4.74266 6.86364 5.66343Z" fill="#253746"/>
										</svg>
					.address
						.address__header
							p.address__title Мневники
							button.address__open
								<svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6.77831 17.7072C7.16884 18.0977 7.802 18.0977 8.19253 17.7072L14.5565 11.3432C14.947 10.9527 14.947 10.3195 14.5565 9.92898C14.166 9.53846 13.5328 9.53846 13.1423 9.92898L7.48542 15.5858L1.82857 9.92898C1.43804 9.53846 0.804878 9.53846 0.414353 9.92898C0.0238295 10.3195 0.0238287 10.9527 0.414353 11.3432L6.77831 17.7072ZM6.48542 0.0294879L6.48542 17.0001L8.48542 17.0001L8.48542 0.0294885L6.48542 0.0294879Z" fill="#253746"/>
								</svg>
						.address__content-wrapper
							.address__content
								p.address__schedule Ежедневно с 09:00 до 21:00
								a(href="#").address__phone +7 (499) 111-25-99
								.address__buttons
									button(data-modal-open="registrationToReception").address__button.button Записаться на прием
									a(href="#").address__button
										| Как добраться
										<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M9.17364 15.7487C9.06345 15.9065 8.88314 16.0005 8.69069 16.0005C8.49825 16.0005 8.31793 15.9065 8.20774 15.7487C7.84153 15.2244 7.42348 14.6655 6.97949 14.072C6.84582 13.8933 6.7098 13.7115 6.57213 13.5265C5.98177 12.7332 5.36785 11.8907 4.81292 11.0295C3.71744 9.32924 2.78613 7.45998 2.78613 5.66343C2.78613 2.51484 5.46052 0.000488281 8.69069 0.000488281C11.9209 0.000488281 14.5952 2.51484 14.5952 5.66343C14.5952 7.45998 13.6639 9.32924 12.5685 11.0295C12.0135 11.8907 11.3996 12.7332 10.8092 13.5265C10.6717 13.7113 10.5357 13.8931 10.4021 14.0716L10.4019 14.072C9.95792 14.6655 9.53986 15.2243 9.17364 15.7487ZM3.96428 5.66343C3.96428 7.09571 4.72427 8.71666 5.8033 10.3913C6.33563 11.2175 6.92977 12.0337 7.51727 12.8231C7.64992 13.0013 7.78259 13.1787 7.91419 13.3546L7.91482 13.3554L7.91497 13.3556C8.18102 13.7113 8.44265 14.061 8.69069 14.4002C8.93878 14.0609 9.20046 13.7111 9.46656 13.3554L9.46678 13.3551C9.59851 13.179 9.73132 13.0015 9.86411 12.8231C10.4516 12.0337 11.0458 11.2175 11.5781 10.3913C12.6571 8.71666 13.4171 7.09571 13.4171 5.66343C13.4171 3.21656 11.3224 1.17864 8.69069 1.17864C6.05895 1.17864 3.96428 3.21656 3.96428 5.66343ZM8.69069 8.55881C7.05929 8.55881 5.68549 7.28593 5.68549 5.66343C5.68549 4.04094 7.05929 2.76805 8.69069 2.76805C10.3221 2.76805 11.6959 4.04094 11.6959 5.66343C11.6959 7.28593 10.3221 8.55881 8.69069 8.55881ZM6.86364 5.66343C6.86364 6.58421 7.65771 7.38066 8.69069 7.38066C9.72367 7.38066 10.5177 6.58421 10.5177 5.66343C10.5177 4.74266 9.72367 3.9462 8.69069 3.9462C7.65771 3.9462 6.86364 4.74266 6.86364 5.66343Z" fill="#253746"/>
										</svg>
				.addresses__swipers
					.swiper.addresses-swiper.active
						.swiper-wrapper
							.swiper-slide
								img.addresses-swiper__img(src="assets/img/benefits-img-04.jpg", alt="")
							.swiper-slide
								img.addresses-swiper__img(src="assets/img/benefits-img-04.jpg", alt="")
							.swiper-slide
								img.addresses-swiper__img(src="assets/img/benefits-img-04.jpg", alt="")
							.swiper-slide
								img.addresses-swiper__img(src="assets/img/benefits-img-04.jpg", alt="")
						.swiper-pagination
					.swiper.addresses-swiper
						.swiper-wrapper
							.swiper-slide
								img.addresses-swiper__img(src="assets/img/benefits-img-04.jpg", alt="")
							.swiper-slide
								img.addresses-swiper__img(src="assets/img/benefits-img-04.jpg", alt="")
							.swiper-slide
								img.addresses-swiper__img(src="assets/img/benefits-img-04.jpg", alt="")
							.swiper-slide
								img.addresses-swiper__img(src="assets/img/benefits-img-04.jpg", alt="")
						.swiper-pagination
					.swiper.addresses-swiper
						.swiper-wrapper
							.swiper-slide
								img.addresses-swiper__img(src="assets/img/benefits-img-04.jpg", alt="")
							.swiper-slide
								img.addresses-swiper__img(src="assets/img/benefits-img-04.jpg", alt="")
							.swiper-slide
								img.addresses-swiper__img(src="assets/img/benefits-img-04.jpg", alt="")
							.swiper-slide
								img.addresses-swiper__img(src="assets/img/benefits-img-04.jpg", alt="")
						.swiper-pagination
	section.faq
		.container
			.faq__col
				p.faq__title Частые вопросы
				p.faq__text Если вы не нашли подходящего ответа, то можете задать его через форму
				button(data-modal-open="faqForm").faq__button.button Задать вопрос
			.faq__list
				.faq-item
					.faq-item__header
						p.faq-item__title В каком возрасте можно кастрировать кошку?
						button.faq-item__button
							<svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.77831 17.6776C7.16884 18.0681 7.802 18.0681 8.19253 17.6776L14.5565 11.3137C14.947 10.9231 14.947 10.29 14.5565 9.89944C14.166 9.50892 13.5328 9.50892 13.1423 9.89944L7.48542 15.5563L1.82857 9.89944C1.43804 9.50892 0.804878 9.50892 0.414353 9.89944C0.0238295 10.29 0.0238287 10.9231 0.414353 11.3137L6.77831 17.6776ZM6.48542 -5.30843e-05L6.48542 16.9705L8.48542 16.9705L8.48542 -5.24942e-05L6.48542 -5.30843e-05Z" fill="#253746"/>
							</svg>
					.faq-item__content-wrapper
						.faq-item__content
							p.faq-item__text Важно перед хирургическим вмешательством пройти предоперационный осмотр у врача-терапевта. В нашей клинике это бесплатная услуга, где врач подробно сможет рассказать о подготовке, ходе операции, постоперационном уходе и ответить на все интересующие вопросы.
				.faq-item
					.faq-item__header
						p.faq-item__title Как подготовить животное к операции?
						button.faq-item__button
							<svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.77831 17.6776C7.16884 18.0681 7.802 18.0681 8.19253 17.6776L14.5565 11.3137C14.947 10.9231 14.947 10.29 14.5565 9.89944C14.166 9.50892 13.5328 9.50892 13.1423 9.89944L7.48542 15.5563L1.82857 9.89944C1.43804 9.50892 0.804878 9.50892 0.414353 9.89944C0.0238295 10.29 0.0238287 10.9231 0.414353 11.3137L6.77831 17.6776ZM6.48542 -5.30843e-05L6.48542 16.9705L8.48542 16.9705L8.48542 -5.24942e-05L6.48542 -5.30843e-05Z" fill="#253746"/>
							</svg>
					.faq-item__content-wrapper
						.faq-item__content
							p.faq-item__text Важно перед хирургическим вмешательством пройти предоперационный осмотр у врача-терапевта. В нашей клинике это бесплатная услуга, где врач подробно сможет рассказать о подготовке, ходе операции, постоперационном уходе и ответить на все интересующие вопросы.
				.faq-item
					.faq-item__header
						p.faq-item__title Насколько безопасен наркоз для животного?
						button.faq-item__button
							<svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.77831 17.6776C7.16884 18.0681 7.802 18.0681 8.19253 17.6776L14.5565 11.3137C14.947 10.9231 14.947 10.29 14.5565 9.89944C14.166 9.50892 13.5328 9.50892 13.1423 9.89944L7.48542 15.5563L1.82857 9.89944C1.43804 9.50892 0.804878 9.50892 0.414353 9.89944C0.0238295 10.29 0.0238287 10.9231 0.414353 11.3137L6.77831 17.6776ZM6.48542 -5.30843e-05L6.48542 16.9705L8.48542 16.9705L8.48542 -5.24942e-05L6.48542 -5.30843e-05Z" fill="#253746"/>
							</svg>
					.faq-item__content-wrapper
						.faq-item__content
							p.faq-item__text Важно перед хирургическим вмешательством пройти предоперационный осмотр у врача-терапевта. В нашей клинике это бесплатная услуга, где врач подробно сможет рассказать о подготовке, ходе операции, постоперационном уходе и ответить на все интересующие вопросы.
				.faq-item
					.faq-item__header
						p.faq-item__title Как дать кошке таблетку?
						button.faq-item__button
							<svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.77831 17.6776C7.16884 18.0681 7.802 18.0681 8.19253 17.6776L14.5565 11.3137C14.947 10.9231 14.947 10.29 14.5565 9.89944C14.166 9.50892 13.5328 9.50892 13.1423 9.89944L7.48542 15.5563L1.82857 9.89944C1.43804 9.50892 0.804878 9.50892 0.414353 9.89944C0.0238295 10.29 0.0238287 10.9231 0.414353 11.3137L6.77831 17.6776ZM6.48542 -5.30843e-05L6.48542 16.9705L8.48542 16.9705L8.48542 -5.24942e-05L6.48542 -5.30843e-05Z" fill="#253746"/>
							</svg>
					.faq-item__content-wrapper
						.faq-item__content
							p.faq-item__text Важно перед хирургическим вмешательством пройти предоперационный осмотр у врача-терапевта. В нашей клинике это бесплатная услуга, где врач подробно сможет рассказать о подготовке, ходе операции, постоперационном уходе и ответить на все интересующие вопросы.
				.faq-item
					.faq-item__header
						p.faq-item__title Как защитить лапы собаки зимой?
						button.faq-item__button
							<svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.77831 17.6776C7.16884 18.0681 7.802 18.0681 8.19253 17.6776L14.5565 11.3137C14.947 10.9231 14.947 10.29 14.5565 9.89944C14.166 9.50892 13.5328 9.50892 13.1423 9.89944L7.48542 15.5563L1.82857 9.89944C1.43804 9.50892 0.804878 9.50892 0.414353 9.89944C0.0238295 10.29 0.0238287 10.9231 0.414353 11.3137L6.77831 17.6776ZM6.48542 -5.30843e-05L6.48542 16.9705L8.48542 16.9705L8.48542 -5.24942e-05L6.48542 -5.30843e-05Z" fill="#253746"/>
							</svg>
					.faq-item__content-wrapper
						.faq-item__content
							p.faq-item__text Важно перед хирургическим вмешательством пройти предоперационный осмотр у врача-терапевта. В нашей клинике это бесплатная услуга, где врач подробно сможет рассказать о подготовке, ходе операции, постоперационном уходе и ответить на все интересующие вопросы.
				.faq-item
					.faq-item__header
						p.faq-item__title Зачем чипировать животное?
						button.faq-item__button
							<svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.77831 17.6776C7.16884 18.0681 7.802 18.0681 8.19253 17.6776L14.5565 11.3137C14.947 10.9231 14.947 10.29 14.5565 9.89944C14.166 9.50892 13.5328 9.50892 13.1423 9.89944L7.48542 15.5563L1.82857 9.89944C1.43804 9.50892 0.804878 9.50892 0.414353 9.89944C0.0238295 10.29 0.0238287 10.9231 0.414353 11.3137L6.77831 17.6776ZM6.48542 -5.30843e-05L6.48542 16.9705L8.48542 16.9705L8.48542 -5.24942e-05L6.48542 -5.30843e-05Z" fill="#253746"/>
							</svg>
					.faq-item__content-wrapper
						.faq-item__content
							p.faq-item__text Важно перед хирургическим вмешательством пройти предоперационный осмотр у врача-терапевта. В нашей клинике это бесплатная услуга, где врач подробно сможет рассказать о подготовке, ходе операции, постоперационном уходе и ответить на все интересующие вопросы.
				.faq-item
					.faq-item__header
						p.faq-item__title Как часто обрабатывать животное от паразитов?
						button.faq-item__button
							<svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.77831 17.6776C7.16884 18.0681 7.802 18.0681 8.19253 17.6776L14.5565 11.3137C14.947 10.9231 14.947 10.29 14.5565 9.89944C14.166 9.50892 13.5328 9.50892 13.1423 9.89944L7.48542 15.5563L1.82857 9.89944C1.43804 9.50892 0.804878 9.50892 0.414353 9.89944C0.0238295 10.29 0.0238287 10.9231 0.414353 11.3137L6.77831 17.6776ZM6.48542 -5.30843e-05L6.48542 16.9705L8.48542 16.9705L8.48542 -5.24942e-05L6.48542 -5.30843e-05Z" fill="#253746"/>
							</svg>
					.faq-item__content-wrapper
						.faq-item__content
							p.faq-item__text Важно перед хирургическим вмешательством пройти предоперационный осмотр у врача-терапевта. В нашей клинике это бесплатная услуга, где врач подробно сможет рассказать о подготовке, ходе операции, постоперационном уходе и ответить на все интересующие вопросы.
				.faq-item
					.faq-item__header
						p.faq-item__title От каких болезней необходимы прививки?
						button.faq-item__button
							<svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.77831 17.6776C7.16884 18.0681 7.802 18.0681 8.19253 17.6776L14.5565 11.3137C14.947 10.9231 14.947 10.29 14.5565 9.89944C14.166 9.50892 13.5328 9.50892 13.1423 9.89944L7.48542 15.5563L1.82857 9.89944C1.43804 9.50892 0.804878 9.50892 0.414353 9.89944C0.0238295 10.29 0.0238287 10.9231 0.414353 11.3137L6.77831 17.6776ZM6.48542 -5.30843e-05L6.48542 16.9705L8.48542 16.9705L8.48542 -5.24942e-05L6.48542 -5.30843e-05Z" fill="#253746"/>
							</svg>
					.faq-item__content-wrapper
						.faq-item__content
							p.faq-item__text Важно перед хирургическим вмешательством пройти предоперационный осмотр у врача-терапевта. В нашей клинике это бесплатная услуга, где врач подробно сможет рассказать о подготовке, ходе операции, постоперационном уходе и ответить на все интересующие вопросы.
	section.reviews
		.container
			.reviews__header
				p.reviews__title Отзывы клиентов
				.swiper-arrow#reviews-swiper-arrow-prev
					<svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0.351557 6.77807C-0.0389669 7.16859 -0.0389666 7.80176 0.351557 8.19228L6.71552 14.5562C7.10604 14.9468 7.73921 14.9468 8.12973 14.5562C8.52026 14.1657 8.52026 13.5326 8.12973 13.142L2.47288 7.48518L8.12973 1.82832C8.52026 1.4378 8.52026 0.804634 8.12973 0.414109C7.73921 0.0235853 7.10604 0.0235846 6.71552 0.414109L0.351557 6.77807ZM18.0292 6.48518L1.05866 6.48518L1.05866 8.48518L18.0292 8.48518L18.0292 6.48518Z" fill="#253746"/>
					</svg>
				.swiper-arrow#reviews-swiper-arrow-next
					<svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M17.707 8.19239C18.0976 7.80186 18.0976 7.1687 17.707 6.77818L11.3431 0.414214C10.9526 0.0236896 10.3194 0.0236896 9.92886 0.414214C9.53834 0.804738 9.53834 1.4379 9.92886 1.82843L15.5857 7.48528L9.92886 13.1421C9.53834 13.5327 9.53834 14.1658 9.92886 14.5563C10.3194 14.9469 10.9526 14.9469 11.3431 14.5563L17.707 8.19239ZM0.0293667 8.48528H16.9999L16.9999 6.48528H0.0293671L0.0293667 8.48528Z" fill="#253746"/>
					</svg>
			.swiper.reviews-swiper
				.swiper-wrapper
					.review.swiper-slide
						.review__col
							p.review__rate
								span 5.0
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6.10326 0.816985C6.47008 0.0737389 7.52992 0.0737404 7.89674 0.816986L9.11847 3.29249C9.26413 3.58763 9.5457 3.7922 9.87141 3.83953L12.6033 4.2365C13.4235 4.35568 13.751 5.36365 13.1575 5.94219L11.1807 7.8691C10.945 8.09884 10.8375 8.42984 10.8931 8.75423L11.3598 11.4751C11.4999 12.292 10.6424 12.9149 9.90881 12.5293L7.46534 11.2446C7.17402 11.0915 6.82598 11.0915 6.53466 11.2446L4.09119 12.5293C3.35756 12.9149 2.50013 12.292 2.64024 11.4751L3.1069 8.75423C3.16254 8.42984 3.05499 8.09884 2.81931 7.8691L0.842496 5.94219C0.248979 5.36365 0.576491 4.35568 1.39671 4.2365L4.12859 3.83953C4.4543 3.7922 4.73587 3.58763 4.88153 3.29249L6.10326 0.816985Z" fill="#253746"/>
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6.10326 0.816985C6.47008 0.0737389 7.52992 0.0737404 7.89674 0.816986L9.11847 3.29249C9.26413 3.58763 9.5457 3.7922 9.87141 3.83953L12.6033 4.2365C13.4235 4.35568 13.751 5.36365 13.1575 5.94219L11.1807 7.8691C10.945 8.09884 10.8375 8.42984 10.8931 8.75423L11.3598 11.4751C11.4999 12.292 10.6424 12.9149 9.90881 12.5293L7.46534 11.2446C7.17402 11.0915 6.82598 11.0915 6.53466 11.2446L4.09119 12.5293C3.35756 12.9149 2.50013 12.292 2.64024 11.4751L3.1069 8.75423C3.16254 8.42984 3.05499 8.09884 2.81931 7.8691L0.842496 5.94219C0.248979 5.36365 0.576491 4.35568 1.39671 4.2365L4.12859 3.83953C4.4543 3.7922 4.73587 3.58763 4.88153 3.29249L6.10326 0.816985Z" fill="#253746"/>
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6.10326 0.816985C6.47008 0.0737389 7.52992 0.0737404 7.89674 0.816986L9.11847 3.29249C9.26413 3.58763 9.5457 3.7922 9.87141 3.83953L12.6033 4.2365C13.4235 4.35568 13.751 5.36365 13.1575 5.94219L11.1807 7.8691C10.945 8.09884 10.8375 8.42984 10.8931 8.75423L11.3598 11.4751C11.4999 12.292 10.6424 12.9149 9.90881 12.5293L7.46534 11.2446C7.17402 11.0915 6.82598 11.0915 6.53466 11.2446L4.09119 12.5293C3.35756 12.9149 2.50013 12.292 2.64024 11.4751L3.1069 8.75423C3.16254 8.42984 3.05499 8.09884 2.81931 7.8691L0.842496 5.94219C0.248979 5.36365 0.576491 4.35568 1.39671 4.2365L4.12859 3.83953C4.4543 3.7922 4.73587 3.58763 4.88153 3.29249L6.10326 0.816985Z" fill="#253746"/>
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6.10326 0.816985C6.47008 0.0737389 7.52992 0.0737404 7.89674 0.816986L9.11847 3.29249C9.26413 3.58763 9.5457 3.7922 9.87141 3.83953L12.6033 4.2365C13.4235 4.35568 13.751 5.36365 13.1575 5.94219L11.1807 7.8691C10.945 8.09884 10.8375 8.42984 10.8931 8.75423L11.3598 11.4751C11.4999 12.292 10.6424 12.9149 9.90881 12.5293L7.46534 11.2446C7.17402 11.0915 6.82598 11.0915 6.53466 11.2446L4.09119 12.5293C3.35756 12.9149 2.50013 12.292 2.64024 11.4751L3.1069 8.75423C3.16254 8.42984 3.05499 8.09884 2.81931 7.8691L0.842496 5.94219C0.248979 5.36365 0.576491 4.35568 1.39671 4.2365L4.12859 3.83953C4.4543 3.7922 4.73587 3.58763 4.88153 3.29249L6.10326 0.816985Z" fill="#253746"/>
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6.10326 0.816985C6.47008 0.0737389 7.52992 0.0737404 7.89674 0.816986L9.11847 3.29249C9.26413 3.58763 9.5457 3.7922 9.87141 3.83953L12.6033 4.2365C13.4235 4.35568 13.751 5.36365 13.1575 5.94219L11.1807 7.8691C10.945 8.09884 10.8375 8.42984 10.8931 8.75423L11.3598 11.4751C11.4999 12.292 10.6424 12.9149 9.90881 12.5293L7.46534 11.2446C7.17402 11.0915 6.82598 11.0915 6.53466 11.2446L4.09119 12.5293C3.35756 12.9149 2.50013 12.292 2.64024 11.4751L3.1069 8.75423C3.16254 8.42984 3.05499 8.09884 2.81931 7.8691L0.842496 5.94219C0.248979 5.36365 0.576491 4.35568 1.39671 4.2365L4.12859 3.83953C4.4543 3.7922 4.73587 3.58763 4.88153 3.29249L6.10326 0.816985Z" fill="#253746"/>
								</svg>
							p.review__title Кристина и Филя
							p.review__text Впервые посетила клинику Vet Union на Мневниках и с первых минут поняла, что теперь все плановые процедуры (и внеплановые, которые, надеюсь, не повторятся) с любимой таксой будут проходить именно здесь.
						.review__col
							.review__img-wrapper
								img.review__img(src="assets/img/reviews-img-01.png", alt="")
						p.review__date 24.09.2024
					.review.review--pink.swiper-slide
						.review__col
							p.review__rate
								span 5.0
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6.10326 0.816985C6.47008 0.0737389 7.52992 0.0737404 7.89674 0.816986L9.11847 3.29249C9.26413 3.58763 9.5457 3.7922 9.87141 3.83953L12.6033 4.2365C13.4235 4.35568 13.751 5.36365 13.1575 5.94219L11.1807 7.8691C10.945 8.09884 10.8375 8.42984 10.8931 8.75423L11.3598 11.4751C11.4999 12.292 10.6424 12.9149 9.90881 12.5293L7.46534 11.2446C7.17402 11.0915 6.82598 11.0915 6.53466 11.2446L4.09119 12.5293C3.35756 12.9149 2.50013 12.292 2.64024 11.4751L3.1069 8.75423C3.16254 8.42984 3.05499 8.09884 2.81931 7.8691L0.842496 5.94219C0.248979 5.36365 0.576491 4.35568 1.39671 4.2365L4.12859 3.83953C4.4543 3.7922 4.73587 3.58763 4.88153 3.29249L6.10326 0.816985Z" fill="#253746"/>
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6.10326 0.816985C6.47008 0.0737389 7.52992 0.0737404 7.89674 0.816986L9.11847 3.29249C9.26413 3.58763 9.5457 3.7922 9.87141 3.83953L12.6033 4.2365C13.4235 4.35568 13.751 5.36365 13.1575 5.94219L11.1807 7.8691C10.945 8.09884 10.8375 8.42984 10.8931 8.75423L11.3598 11.4751C11.4999 12.292 10.6424 12.9149 9.90881 12.5293L7.46534 11.2446C7.17402 11.0915 6.82598 11.0915 6.53466 11.2446L4.09119 12.5293C3.35756 12.9149 2.50013 12.292 2.64024 11.4751L3.1069 8.75423C3.16254 8.42984 3.05499 8.09884 2.81931 7.8691L0.842496 5.94219C0.248979 5.36365 0.576491 4.35568 1.39671 4.2365L4.12859 3.83953C4.4543 3.7922 4.73587 3.58763 4.88153 3.29249L6.10326 0.816985Z" fill="#253746"/>
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6.10326 0.816985C6.47008 0.0737389 7.52992 0.0737404 7.89674 0.816986L9.11847 3.29249C9.26413 3.58763 9.5457 3.7922 9.87141 3.83953L12.6033 4.2365C13.4235 4.35568 13.751 5.36365 13.1575 5.94219L11.1807 7.8691C10.945 8.09884 10.8375 8.42984 10.8931 8.75423L11.3598 11.4751C11.4999 12.292 10.6424 12.9149 9.90881 12.5293L7.46534 11.2446C7.17402 11.0915 6.82598 11.0915 6.53466 11.2446L4.09119 12.5293C3.35756 12.9149 2.50013 12.292 2.64024 11.4751L3.1069 8.75423C3.16254 8.42984 3.05499 8.09884 2.81931 7.8691L0.842496 5.94219C0.248979 5.36365 0.576491 4.35568 1.39671 4.2365L4.12859 3.83953C4.4543 3.7922 4.73587 3.58763 4.88153 3.29249L6.10326 0.816985Z" fill="#253746"/>
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6.10326 0.816985C6.47008 0.0737389 7.52992 0.0737404 7.89674 0.816986L9.11847 3.29249C9.26413 3.58763 9.5457 3.7922 9.87141 3.83953L12.6033 4.2365C13.4235 4.35568 13.751 5.36365 13.1575 5.94219L11.1807 7.8691C10.945 8.09884 10.8375 8.42984 10.8931 8.75423L11.3598 11.4751C11.4999 12.292 10.6424 12.9149 9.90881 12.5293L7.46534 11.2446C7.17402 11.0915 6.82598 11.0915 6.53466 11.2446L4.09119 12.5293C3.35756 12.9149 2.50013 12.292 2.64024 11.4751L3.1069 8.75423C3.16254 8.42984 3.05499 8.09884 2.81931 7.8691L0.842496 5.94219C0.248979 5.36365 0.576491 4.35568 1.39671 4.2365L4.12859 3.83953C4.4543 3.7922 4.73587 3.58763 4.88153 3.29249L6.10326 0.816985Z" fill="#253746"/>
								</svg>
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6.10326 0.816985C6.47008 0.0737389 7.52992 0.0737404 7.89674 0.816986L9.11847 3.29249C9.26413 3.58763 9.5457 3.7922 9.87141 3.83953L12.6033 4.2365C13.4235 4.35568 13.751 5.36365 13.1575 5.94219L11.1807 7.8691C10.945 8.09884 10.8375 8.42984 10.8931 8.75423L11.3598 11.4751C11.4999 12.292 10.6424 12.9149 9.90881 12.5293L7.46534 11.2446C7.17402 11.0915 6.82598 11.0915 6.53466 11.2446L4.09119 12.5293C3.35756 12.9149 2.50013 12.292 2.64024 11.4751L3.1069 8.75423C3.16254 8.42984 3.05499 8.09884 2.81931 7.8691L0.842496 5.94219C0.248979 5.36365 0.576491 4.35568 1.39671 4.2365L4.12859 3.83953C4.4543 3.7922 4.73587 3.58763 4.88153 3.29249L6.10326 0.816985Z" fill="#253746"/>
								</svg>
							p.review__title Кристина и Филя
							p.review__text Хочу написать благодарность всему персоналу данной клиники. Благодарю Вас за чуткость и понимание не только к нашим любимым питомцам но и за чуткое отношение к людям. 26 сентября у нас произошел несчастный случай.. у меня земля ушла из под ног. Благодарю от всего сердца всех докторов и персонал за Человеческое отношение. Хочу рекомендовать данную клинику всем своим друзьям и знакомым. Здесь вам действительно окажут самую высокую и квалифицированную окажут самую высокую и квалиф
							p.review__more(data-review-text="Хочу написать благодарность всему персоналу данной клиники. Благодарю Вас за чуткость и понимание не только к нашим любимым питомцам но и за чуткое отношение к людям. 26 сентября у нас произошел несчастный случай.. у меня земля ушла из под ног. Благодарю от всего сердца всех докторов и персонал за Человеческое отношение. Хочу рекомендовать данную клинику всем своим друзьям и знакомым. Здесь вам действительно окажут самую высокую и квалифицированную окажут самую высокую и квалиф" data-review-author="Кристина и Филя") Читать больше
						.review__col
							.review__img-wrapper
								button.review__video-button(data-review-video-vertical data-review-video-vk="https://vkvideo.ru/video_ext.php?oid=-211437014&id=456245760&hd=2&autoplay=1")
									<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M6.56311 3.0371L2.26644 0.860434C2.10183 0.766931 1.91576 0.717773 1.72644 0.717773C1.53712 0.717773 1.35105 0.766931 1.18644 0.860434C1.02551 0.970139 0.896387 1.12037 0.812107 1.29595C0.727826 1.47154 0.691377 1.66625 0.70644 1.86043V6.1871C0.69206 6.3812 0.728813 6.57567 0.813035 6.75114C0.897257 6.9266 1.026 7.07692 1.18644 7.1871C1.33521 7.27674 1.5061 7.32293 1.67977 7.32043C1.88436 7.31694 2.08528 7.26557 2.26644 7.17043L6.56311 5.00043C7.19977 4.6671 7.29311 4.25377 7.29311 4.0271C7.29311 3.80043 7.19977 3.36043 6.56311 3.0371ZM6.25977 4.39043L1.96644 6.5671C1.90312 6.60902 1.83041 6.63461 1.7548 6.64159C1.67919 6.64856 1.60303 6.63672 1.53311 6.6071C1.47396 6.55565 1.42841 6.4904 1.4005 6.41714C1.37259 6.34388 1.36318 6.26487 1.37311 6.1871V1.83377C1.36318 1.756 1.37259 1.67699 1.4005 1.60373C1.42841 1.53047 1.47396 1.46522 1.53311 1.41377C1.57394 1.39097 1.61969 1.37839 1.66644 1.3771C1.76692 1.38112 1.86507 1.40851 1.95311 1.4571L6.25977 3.63377C6.48644 3.7471 6.62644 3.89377 6.62644 4.01043C6.62644 4.1271 6.48644 4.27377 6.25977 4.39043Z" fill="white" stroke="white" stroke-width="0.5"/>
									</svg>
								img.review__img(src="assets/img/reviews-img-01.png", alt="")
						p.review__date 24.09.2024
				.swiper-pagination.swiper-pagination--doctors
			.reviews__buttons
				button.button.reviews__button Все отзывы
				button(data-modal-open="reviewForm").button.button--light.button--outline.reviews__button Оставить отзыв

block widget
	.widget
		button.widget-coupon(data-modal-open="couponForm")
			<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M27.3224 15.0171V28.6744H4.7125V15.0171H2.60596V29.7276C2.60596 30.3094 3.07744 30.7808 3.6592 30.7808H28.3757C28.9574 30.7808 29.4289 30.3094 29.4289 29.7276V15.0171H27.3224Z" fill="white"/>
				<path d="M30.3067 7.11719H1.69313C1.11137 7.11719 0.639893 7.58867 0.639893 8.17043V15.0517C0.639893 15.6335 1.11137 16.1049 1.69313 16.1049H30.3066C30.8884 16.1049 31.3598 15.6338 31.3598 15.0517V8.17043C31.3599 7.58867 30.8884 7.11719 30.3067 7.11719ZM29.2534 13.9988H2.74643V9.22409H29.2534V13.9988H29.2534Z" fill="white"/>
				<path d="M17.0362 7.9039C16.9646 7.63078 15.2271 1.21924 10.1542 1.21924C7.9473 1.21924 6.15186 3.01468 6.15186 5.2216C6.15186 7.42852 7.93152 9.22396 10.1191 9.22396H16.0174C16.3435 9.22396 16.6518 9.07264 16.8512 8.81422C17.0506 8.5558 17.1187 8.2195 17.0362 7.9039ZM10.1192 7.11748C9.07578 7.11748 8.2584 6.28468 8.2584 5.2216C8.2584 4.19398 9.12666 3.32572 10.1543 3.32572C12.4655 3.32572 13.8494 5.60254 14.5148 7.11742L10.1192 7.11748Z" fill="white"/>
				<path d="M21.8806 1.21924C16.8077 1.21924 15.0702 7.63078 14.9986 7.9039C14.9157 8.2195 14.9842 8.55586 15.1836 8.81428C15.3831 9.0727 15.6909 9.22402 16.0174 9.22402H21.9157C24.1033 9.22402 25.8829 7.42858 25.8829 5.22166C25.883 3.01468 24.0875 1.21924 21.8806 1.21924ZM21.9157 7.11748H17.5159C18.1763 5.60254 19.5561 3.32578 21.881 3.32578C22.9086 3.32578 23.7769 4.19404 23.7769 5.22166C23.7768 6.28468 22.9595 7.11748 21.9157 7.11748Z" fill="white"/>
				<path d="M17.0702 8.1709H14.9636V15.3601H17.0702V8.1709Z" fill="white"/>
				<path d="M10.6399 28.8002L18.7135 15.8082H21.0335L12.9599 28.8002H10.6399ZM9.8418 16.4949C10.4233 15.9133 11.1534 15.6226 12.0319 15.6226C12.9104 15.6226 13.6404 15.9133 14.222 16.4949C14.8035 17.0764 15.0943 17.8065 15.0943 18.685C15.0943 19.5635 14.8035 20.2935 14.222 20.875C13.6404 21.4566 12.9104 21.7474 12.0319 21.7474C11.1534 21.7474 10.4233 21.4566 9.8418 20.875C9.26026 20.2935 8.96948 19.5635 8.96948 18.685C8.96948 17.8065 9.26026 17.0764 9.8418 16.4949ZM11.1039 19.6872C11.3513 19.947 11.6607 20.077 12.0319 20.077C12.4031 20.077 12.7124 19.947 12.9599 19.6872C13.2073 19.4274 13.3311 19.0933 13.3311 18.685C13.3311 18.2766 13.2073 17.9426 12.9599 17.6827C12.7124 17.4229 12.4031 17.293 12.0319 17.293C11.6607 17.293 11.3513 17.4229 11.1039 17.6827C10.8564 17.9426 10.7327 18.2766 10.7327 18.685C10.7327 19.0933 10.8564 19.4274 11.1039 19.6872ZM17.4514 28.1134C16.8699 27.5319 16.5791 26.8019 16.5791 25.9234C16.5791 25.0449 16.8699 24.3148 17.4514 23.7333C18.033 23.1517 18.763 22.861 19.6415 22.861C20.52 22.861 21.25 23.1517 21.8316 23.7333C22.4131 24.3148 22.7039 25.0449 22.7039 25.9234C22.7039 26.8019 22.4131 27.5319 21.8316 28.1134C21.25 28.695 20.52 28.9858 19.6415 28.9858C18.763 28.9858 18.033 28.695 17.4514 28.1134ZM18.7135 26.9256C18.9609 27.1854 19.2703 27.3154 19.6415 27.3154C20.0127 27.3154 20.322 27.1854 20.5695 26.9256C20.817 26.6658 20.9407 26.3317 20.9407 25.9234C20.9407 25.515 20.817 25.181 20.5695 24.9211C20.322 24.6613 20.0127 24.5314 19.6415 24.5314C19.2703 24.5314 18.9609 24.6613 18.7135 24.9211C18.466 25.181 18.3423 25.515 18.3423 25.9234C18.3423 26.3317 18.466 26.6658 18.7135 26.9256Z" fill="white"/>
			</svg>
		.widget-consultation.muted.active
			.widget-consultation__video-wrapper
				p.widget-consultation__video-muted Звук выключен
				video.widget-consultation__video(src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" muted)
				button.widget-consultation__video-button-play
					<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6.56335 3.03661L2.26668 0.859946C2.10207 0.766443 1.916 0.717285 1.72668 0.717285C1.53737 0.717285 1.3513 0.766443 1.18668 0.859946C1.02576 0.969651 0.896631 1.11988 0.812351 1.29547C0.72807 1.47105 0.691621 1.66577 0.706684 1.85995V6.18661C0.692304 6.38071 0.729057 6.57519 0.813279 6.75065C0.897501 6.92611 1.02625 7.07643 1.18668 7.18661C1.33545 7.27625 1.50635 7.32244 1.68002 7.31995C1.8846 7.31645 2.08553 7.26508 2.26668 7.16995L6.56335 4.99995C7.20002 4.66661 7.29335 4.25328 7.29335 4.02661C7.29335 3.79995 7.20002 3.35995 6.56335 3.03661ZM6.26002 4.38995L1.96668 6.56661C1.90337 6.60853 1.83066 6.63412 1.75505 6.6411C1.67943 6.64808 1.60327 6.63623 1.53335 6.60661C1.4742 6.55516 1.42865 6.48992 1.40074 6.41665C1.37283 6.34339 1.36343 6.26438 1.37335 6.18661V1.83328C1.36343 1.75551 1.37283 1.6765 1.40074 1.60324C1.42865 1.52998 1.4742 1.46473 1.53335 1.41328C1.57419 1.39048 1.61993 1.3779 1.66668 1.37661C1.76716 1.38063 1.86532 1.40802 1.95335 1.45661L6.26002 3.63328C6.48668 3.74661 6.62668 3.89328 6.62668 4.00995C6.62668 4.12661 6.48668 4.27328 6.26002 4.38995Z" fill="white" stroke="white" stroke-width="0.5"/>
					</svg>
				button(data-modal-open="orderToReceptionForm").widget-consultation__video-button.button Записаться
			.widget-consultation__aside
				button.widget-consultation__open.widget-consultation__button
					<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.29278 7.00004C1.23483 7.00005 1.17817 6.98287 1.12999 6.95068C1.0818 6.91849 1.04424 6.87273 1.02206 6.81919C0.999881 6.76565 0.99408 6.70674 1.00539 6.6499C1.0167 6.59306 1.04461 6.54085 1.08559 6.49988L6.49965 1.08582C6.5546 1.03087 6.62913 1 6.70684 1C6.78455 1 6.85908 1.03087 6.91403 1.08582C6.96898 1.14077 6.99985 1.2153 6.99985 1.29301C6.99985 1.37072 6.96898 1.44525 6.91403 1.50019L1.49997 6.91426C1.47278 6.9415 1.44049 6.9631 1.40493 6.97782C1.36938 6.99254 1.33126 7.00009 1.29278 7.00004Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
						<path d="M6.70683 7.00004C6.66834 7.00009 6.63023 6.99254 6.59467 6.97782C6.55912 6.9631 6.52682 6.9415 6.49964 6.91426L1.08558 1.50019C1.03063 1.44525 0.999756 1.37072 0.999756 1.29301C0.999756 1.2153 1.03063 1.14077 1.08558 1.08582C1.14053 1.03087 1.21505 1 1.29276 1C1.37047 1 1.445 1.03087 1.49995 1.08582L6.91401 6.49988C6.955 6.54085 6.98291 6.59306 6.99422 6.6499C7.00553 6.70674 6.99972 6.76565 6.97755 6.81919C6.95537 6.87273 6.91781 6.91849 6.86962 6.95068C6.82143 6.98287 6.76478 7.00005 6.70683 7.00004Z" fill="#253746" stroke="#253746" stroke-width="0.5"/>
					</svg>
					<svg width="4" height="6" viewBox="0 0 4 6" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M0.195262 2.57574C-0.0650877 2.81005 -0.0650877 3.18995 0.195262 3.42426L2.86193 5.82426C3.12228 6.05858 3.54439 6.05858 3.80474 5.82426C4.06509 5.58995 4.06509 5.21005 3.80474 4.97574L1.60948 3L3.80474 1.02426C4.06509 0.78995 4.06509 0.410051 3.80474 0.175736C3.54439 -0.0585783 3.12228 -0.0585783 2.86193 0.175736L0.195262 2.57574Z" fill="#253746"/>
					</svg>
				button.widget-consultation__muted.widget-consultation__button
					<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M5.07479 2.41214C4.78536 2.63445 4.41739 3.00888 3.89031 3.54711C3.61004 3.83329 3.35868 4.04151 3.05274 4.16798C2.74767 4.2941 2.42328 4.32438 2.02709 4.32438C1.68529 4.32438 1.45639 4.32483 1.28201 4.34295C1.11398 4.3604 1.03685 4.39114 0.985685 4.42605C0.847286 4.52047 0.773522 4.66318 0.738792 4.88307C0.710507 5.0622 0.713293 5.24661 0.716427 5.45402C0.71746 5.52265 0.718537 5.59381 0.718537 5.66811C0.718537 5.74236 0.71746 5.81351 0.716427 5.88214C0.713293 6.08956 0.710507 6.27397 0.738792 6.45309C0.773522 6.67299 0.847286 6.81568 0.985685 6.91012C1.03685 6.94503 1.11398 6.97575 1.28201 6.99323C1.45639 7.01133 1.68529 7.0118 2.02709 7.0118C2.42328 7.0118 2.74767 7.04205 3.05274 7.16816C3.35868 7.29466 3.61004 7.50288 3.89031 7.78907C4.41739 8.3273 4.78536 8.7017 5.07479 8.92402C5.37645 9.15577 5.4669 9.12334 5.49266 9.11243C5.52224 9.09991 5.61049 9.05109 5.6636 8.6676C5.71446 8.3003 5.71532 7.76878 5.71532 7.00809V4.32808C5.71532 3.56737 5.71446 3.03588 5.6636 2.66858C5.61049 2.28506 5.52224 2.23624 5.49266 2.22374C5.4669 2.21285 5.37645 2.1804 5.07479 2.41214ZM4.63962 1.84558C4.96672 1.5943 5.35597 1.39026 5.77095 1.56577C6.18206 1.73965 6.31418 2.15852 6.37124 2.57058C6.42972 2.9929 6.42972 3.57442 6.42972 4.29743V7.03871C6.42972 7.76174 6.42972 8.34326 6.37124 8.76557C6.31418 9.17764 6.18206 9.59651 5.77095 9.7704C5.35597 9.9459 4.96672 9.74187 4.63962 9.49059C4.30509 9.23364 3.90191 8.82196 3.40185 8.31135L3.3799 8.28892C3.12297 8.02659 2.95249 7.89981 2.7798 7.82841C2.60624 7.75664 2.39522 7.72621 2.02709 7.72621H2.00851C1.69012 7.72621 1.42387 7.72621 1.20819 7.70382C0.981989 7.68029 0.771974 7.62914 0.583053 7.50026C0.223084 7.25465 0.0853326 6.89502 0.0331335 6.56454C-0.00578717 6.31807 -0.00131976 6.04745 0.00228083 5.82951C0.00323813 5.7715 0.00413353 5.71721 0.00413353 5.66811C0.00413353 5.61896 0.00323813 5.56466 0.00228083 5.50665C-0.00131976 5.28871 -0.00578717 5.01809 0.0331335 4.77163C0.0853326 4.44113 0.223084 4.08151 0.583053 3.83591C0.771974 3.70702 0.981989 3.65586 1.20819 3.63237C1.42387 3.60996 1.69012 3.60997 2.00852 3.60998H2.02709C2.39522 3.60998 2.60624 3.57952 2.7798 3.50777C2.95249 3.43638 3.12297 3.3096 3.3799 3.04725L3.40185 3.02484C3.90191 2.51421 4.30509 2.10253 4.63962 1.84558Z" fill="#253746"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M7.57023 3.95556C7.72707 3.8359 7.95125 3.86603 8.07089 4.02287C8.41571 4.47479 8.62041 5.04784 8.62041 5.66837C8.62041 6.28886 8.41571 6.8619 8.07089 7.31384C7.95125 7.47067 7.72707 7.50082 7.57023 7.38113C7.4134 7.26149 7.38325 7.03731 7.50294 6.88048C7.75384 6.55161 7.906 6.13045 7.906 5.66837C7.906 5.20625 7.75384 4.78509 7.50294 4.45622C7.38325 4.29938 7.4134 4.07523 7.57023 3.95556Z" fill="#253746"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M9.73577 3.02344C9.88127 2.89022 10.1072 2.90018 10.2404 3.04569C10.8906 3.75578 11.2867 4.66843 11.2867 5.66826C11.2867 6.66805 10.8906 7.58072 10.2404 8.29079C10.1072 8.43629 9.88127 8.44624 9.73577 8.31303C9.59027 8.17982 9.58032 7.95388 9.71353 7.80838C10.2548 7.21718 10.5723 6.47282 10.5723 5.66826C10.5723 4.86366 10.2548 4.1193 9.71353 3.52811C9.58032 3.38261 9.59027 3.15666 9.73577 3.02344Z" fill="#253746"/>
						<path d="M0.500977 1L10.501 10.9998" stroke="#253746" stroke-linecap="round"/>
					</svg>
				p.widget-consultation__title Онлайн-консультация
